<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-x-3">
            <h1 class="display-5">Buttons</h1>
            <p class="lead">Create a button with a <code>&lt;button&gt;</code> or <code>&lt;a&gt;</code> element to retain the native click function. Use a <code>.disabled</code> class when a button can’t be clicked.</p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-x-3">
            <h4 id="colors" class="h4 m-b-1 m-t-1">Button Colors</h4>
            <p class="m-b-md">The base <code>.btn</code> class defines the button element and looks like a plain text link. Adding a <code>.btn-*</code> class will define the button styling. In addition to the standard bootstrap symantic colors you may add a <code>.btn-default</code>, <code>.btn-white</code>, <code>.btn-dark</code>, and <code>.btn-black</code>.</p>
            <p ng-include src="'views/styles/buttons/colors.html'"></p>
            <pre class="code pre-scrollable bg-light p-a-1 b-a" ng-include src="'views/styles/buttons/colors.html'" maketext></pre>

            <h4 id="outlines" class="m-b-1 p-t-3">Button Outlines</h4>
            <p>Use the <code>.btn-outline-*</code> class instead of <code>.btn-*</code> for a outline button. You can increse the border size using <code>.b-2x</code>, <code>.b-3x</code>, <code>.b-4x</code> or <code>.b-5x</code>. In addition to the standard bootstrap symantic colors you may add a <code>.btn-default</code>, <code>.btn-white</code>, <code>.btn-dark</code>, and <code>.btn-black</code>.</p>
            <p class="p-a-1" ng-include src="'views/styles/buttons/outlines.html'"></p>
            <pre class="code pre-scrollable bg-light p-a-1 b-a" ng-include src="'views/styles/buttons/outlines.html'" maketext></pre>

            <h4 id="size" class="m-b-1 p-t-3">Button Sizes</h4>
            <p>This example shows the various sizes a button can be acheived. Beyond bootstrap sizes you can also apply <code>.btn-xl</code> and <code>.btn-xs</code> </p>
            <p ng-include src="'views/styles/buttons/size.html'"></p>
            <pre class="code pre-scrollable bg-light p-a-1 b-a" ng-include src="'views/styles/buttons/size.html'" maketext></pre>

            <h6 class="m-t-2">Button Widths</h6>
            <p>Buttons are as wide as their text. For specific sizing use <code>.btn-w-xl</code>, <code>.btn-w-lg</code>, <code>.btn-w-md</code>, <code>.btn-w-sm</code> or <code>.btn-w-xs</code> </p>
            <p ng-include src="'views/styles/buttons/size-horizontal.html'"></p>
            <pre class="code pre-scrollable bg-light p-a-1 b-a" ng-include src="'views/styles/buttons/size-horizontal.html'" maketext></pre>

            <h6 class="m-t-2">Responsive Widths</h6>
            <p>Add a <code>.btn-block</code> to acheive a reponsive button. You may also leverage various sizes.</p>
            <p ng-include src="'views/styles/buttons/block.html'"></p>
            <pre class="code pre-scrollable bg-light p-a-1 b-a" ng-include src="'views/styles/buttons/block.html'" maketext></pre>

            <h4 id="rounded" class="m-b-1 p-t-3">Rounded Buttons</h4>
            <p>Add a <code>.rounded</code> class to acheive a rounded button</p>
            <p ng-include src="'views/styles/buttons/rounded.html'"></p>
            <pre class="code pre-scrollable bg-light p-a-1 b-a" ng-include src="'views/styles/buttons/rounded.html'" maketext></pre>

            <h4 id="icon" class="m-b-1 p-t-3">Icon Buttons</h4>
            <p ng-include src="'views/styles/buttons/icon-buttons.html'"></p>

            <h6 class="m-t-2">Button Toggle</h6>
            <p ng-include src="'views/styles/buttons/toggle.html'"></p>

            <h4 id="dropdowns" class="m-b-1 p-t-3">Button Dropdowns</h4>

            <h6 class="m-t-2">Single Button Dropdown</h6>
            <p ng-include src="'views/styles/buttons/dropdowns/single.html'"></p>

            <h6 class="m-t-2">Button Dropdown Sizing</h6>
            <p ng-include src="'views/styles/buttons/dropdowns/size.html'"></p>

            <h6 class="m-t-2">Button Dropdown Direction</h6>
            <p ng-include src="'views/styles/buttons/dropdowns/direction.html'"></p>

            <h6 class="m-t-2">Split Button Dropdown</h6>
            <p ng-include src="'views/styles/buttons/dropdowns/split.html'"></p>

            <h4 id="groups" class="m-b-1 p-t-3">Button Groups</h4>
            <p ng-include src="'views/styles/buttons/groups/basic.html'"></p>

            <h6 class="m-t-2">Button Group Select</h6>
            <p ng-include src="'views/styles/buttons/groups/select.html'"></p>

            <h6 class="m-t-2">Button Group Toggle</h6>
            <p ng-include src="'views/styles/buttons/groups/toggle.html'"></p>

            <h6 class="m-t-2">Button Toolbar</h6>
            <p ng-include src="'views/styles/buttons/groups/toolbar.html'"></p>

            <h6 class="m-t-2">Button Group Sizing</h6>
            <p ng-include src="'views/styles/buttons/groups/size.html'"></p>

            <h6 class="m-t-2">Nested Button Groups</h6>
            <p ng-include src="'views/styles/buttons/groups/nested.html'"></p>

            <h6 class="m-t-2">Vertical Button Groups</h6>
            <p ng-include src="'views/styles/buttons/groups/vertical.html'"></p>

            <h6 class="m-t-2">Justified Button Groups</h6>
            <p ng-include src="'views/styles/buttons/groups/justified.html'"></p>

            <h4 id="components" class="m-b-1 p-t-3">Button components</h4>
            <p class="text-muted">
                <span>There are a few easy ways to quickly get started with Bootstrap, each one ...</span>
                <span class="text-muted hide" id="moreless"> appealing to a different skill level and use case. Read through to see what suits your particular needs.</span>
            </p>
            <p ng-include src="'views/styles/buttons/components/components.html'"></p>

            <h6 class="m-t-2">Select Button</h6>
            <p ng-include src="'views/styles/buttons/components/select.html'"></p>
        </section>
        <aside class="aside-md b-l hidden-md-down nav-sidebar bg-white">
            <nav class="nav-scroll affix w-full" role="navigation" jumpmenu>
                <div class="text-muted text-u-c hidden-nav padder m-t-1 m-b-1">On This Page:</div>
                <ul class="nav nav-main" data-ride="collapse">
                    <li class="nav-item active"><a href="javascript:void(0)" data-target="#colors" class="nav-link active">Color</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" data-target="#outlines" class="nav-link">Outline</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" data-target="#size" class="nav-link">Size</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" data-target="#rounded" class="nav-link">Rounded</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" data-target="#icon" class="nav-link">Icon</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" data-target="#dropdowns" class="nav-link">Button Dropdowns</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" data-target="#groups" class="nav-link">Button Groups</a></li>
                    <li class="nav-item"><a href="javascript:void(0)" data-target="#components" class="nav-link">Button Components</a></li>
                </ul>
            </nav>
        </aside>
    </div>
</div>