<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-x-3">
            <h1 class="display-5">Colors</h1>
            <p class="lead">Primary, secondary and semantic colour palettes can be applied to backgrounds, buttons, borders and text.</p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-x-3">
            <div id="overview" class="h4 m-b-1 m-t-1">Overview</div>
            <p>Included are nine named colors, 1 main color 4 semantic colors, black, light, dark and white. Components with color variations inherit these global variables when defining how colors should appear. Majority of components and layout parts are coded with maximum flexibility and support of different color options that can be changed on-the-fly just by adding or replacing proper color class. Also works in combination with other helpers, making the user interface very configurable.</p>
            <p><strong>To ensure proper consistency between pages, everyone should use these color settings provided here. </strong></p>
            <div id="primary" class="h4 m-b-1 m-t-3">Primary</div>
            <div class="row m-y-2">
                <div class="col-sm-3">
                    <div class="bg-primary">
                        <div class="dker wrapper">.dker</div>
                        <div class="dk wrapper">.dk</div>
                        <div class="wrapper">.bg-primary</div>
                        <div class="lt wrapper">.lt</div>
                        <div class="lter wrapper">.lter</div>
                    </div>
                </div>
            </div>
            <div id="secondary" class="h4 m-b-1 m-t-3">Semantic</div>
            <div class="row m-y-2">
                <div class="col-sm-3">
                    <div class="bg-danger">
                        <div class="dker wrapper">.dker</div>
                        <div class="dk wrapper">.dk</div>
                        <div class="wrapper">.bg-danger</div>
                        <div class="lt wrapper">.lt</div>
                        <div class="lter wrapper">.lter</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bg-success">
                        <div class="dker wrapper">.dker</div>
                        <div class="dk wrapper">.dk</div>
                        <div class="wrapper">.bg-success</div>
                        <div class="lt wrapper">.lt</div>
                        <div class="lter wrapper">.lter</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bg-info">
                        <div class="dker wrapper">.dker</div>
                        <div class="dk wrapper">.dk</div>
                        <div class="wrapper">.bg-info</div>
                        <div class="lt wrapper">.lt</div>
                        <div class="lter wrapper">.lter</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bg-warning">
                        <div class="dker wrapper">.dker</div>
                        <div class="dk wrapper">.dk</div>
                        <div class="wrapper">.bg-warning</div>
                        <div class="lt wrapper">.lt</div>
                        <div class="lter wrapper">.lter</div>
                    </div>
                </div>
            </div>
            <div id="lightsDarks" class="h4 m-b-1 m-t-3">Lights &amp; Darks</div>
            <div class="row m-y-2">
                <div class="col-sm-3">
                    <div class="bg-white">
                        <div class="dker wrapper">.dker</div>
                        <div class="dk wrapper">.dk</div>
                        <div class="wrapper">.bg-white</div>
                        <div class="lt wrapper">.lt</div>
                        <div class="lter wrapper">.lter</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bg-light">
                        <div class="dker wrapper">.dker</div>
                        <div class="dk wrapper">.dk</div>
                        <div class="wrapper">.bg-light</div>
                        <div class="lt wrapper">.lt</div>
                        <div class="lter wrapper">.lter</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bg-dark">
                        <div class="dker wrapper">.dker</div>
                        <div class="dk wrapper">.dk</div>
                        <div class="wrapper">.bg-dark</div>
                        <div class="lt wrapper">.lt</div>
                        <div class="lter wrapper">.lter</div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bg-black">
                        <div class="dker wrapper">.dker</div>
                        <div class="dk wrapper">.dk</div>
                        <div class="wrapper">.bg-black</div>
                        <div class="lt wrapper">.lt</div>
                        <div class="lter wrapper">.lter</div>
                    </div>
                </div>
            </div>
            <div id="classes" class="h4 m-b-1 m-t-3">Classes</div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width: 200px;">Class</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>.bg-*</code></td>
                            <td>Classes for background color. You can choose between 9 colors using <code>.bg-*</code>. You may also apply variations to the color by adding a <code>.dk</code>, <code>.dker</code>, <code>.lt</code>, or <code>.lter</code> to lighten or darken the base.</td>
                        </tr>
                        <tr>
                            <td><code>.bg-gradient</code></td>
                            <td>Class for background color gradient. Applied in conjunction with any of color classes to produce a top to bottom color variation.</td>
                        </tr>
                        <tr>
                            <td><code>.bg-empty</code></td>
                            <td>Sets the background of any block element to transparent.</td>
                        </tr>
                        <tr>
                            <td><code>.btn-*</code><br><code>.btn-outline-*</code></td>
                            <td>Classes for button color. You can choose between 9 colors</td>
                        </tr>
                        <tr>
                            <td><code>.b-*</code></td>
                            <td>Classes for border color. Useful when only border needs to have different colors - validation, highlights, custom buttons etc. Can be used with form controls, selects, buttons and any other block element</td>
                        </tr>
                        <tr>
                            <td><code>.b-t-*</code></td>
                            <td>Classes for <code>top</code> border color. Use this class if you need to highlight top border only</td>
                        </tr>
                        <tr>
                            <td><code>.b-b-*</code></td>
                            <td>Classes for <code>bottom</code> border color. Use this class if you need to highlight bottom border only</td>
                        </tr>
                        <tr>
                            <td><code>.b-l-*</code></td>
                            <td>Classes for <code>left</code> border color. Use this class if you need to highlight left border only</td>
                        </tr>
                        <tr>
                            <td><code>.b-r-*</code></td>
                            <td>Classes for <code>right</code> border color. Use this class if you need to highlight right border only</td>
                        </tr>
                        <tr>
                            <td><code>.text-*</code></td>
                            <td>Classes for text color. These colors can be used with: text, links, icons, lists etc. Base text color doesn't require suffix</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <aside class="aside-md b-l hidden-md-down nav-sidebar bg-white">
            <nav class="nav-scroll affix w-full" role="navigation" jumpmenu>
                <div class="text-muted text-u-c hidden-nav padder m-t-1 m-b-1">On This Page:</div>
                <ul class="nav nav-main" data-ride="collapse">
                    <li class="nav-item active">
                        <a href="javascript:void(0)" data-target="#overview" class="nav-link  active">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-target="#primary" class="nav-link">Primary</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-target="#secondary" class="nav-link ">Semantic</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-target="#lightsDarks" class="nav-link ">Lights &amp; Darks</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-target="#classes" class="nav-link ">Classes</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>