<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-x-3">
            <h1 class="display-5">Lists</h1>
            <p class="lead">A list is used to group related records</p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-x-3">
            <div id="overview" class="h4 m-b-1 m-t-1">Overview</div>
            <p class="m-b-1">Supports two basic List types: Basic lists and list groups. Lists contain a set of items displayed in rows, where each item is represented as a text label. Depending on the purpose of the list, each row may also be accompanied by a control. The user can also select a row to perform an action on the corresponding item.</p>
            <p class="h6 font-bold m-t-3 m-b-1">When to Use:</p>
            <ul>
              <li>When you need to present a group of related records, space is limited and the user does not need robust sort/filtering</li>
              <li>hen you need to present a group of related records, and the user does not need to compare items in sequence.</li>
            </ul>
            <div class="h2 m-b-1 m-t-3 ">Lists</div>
            <hr>
            <div id="basicList" class="h4 m-b-xs m-t-3">Basic List</div>
            <p class="m-b-1">Example of a basic list</p>
            <div class="" ng-include src="'views/styles/lists/lists/basic.html'" ></div>

            <div id="ordered" class="h4 m-b-xs m-t-3">Ordered List</div>
            <p class="m-b-1">Example of a ordered list</p>
            <div class="" ng-include src="'views/styles/lists/lists/ordered.html'" ></div>

            <div id="icons" class="h4 m-b-xs m-t-3">List With Icons</div>
            <p class="m-b-1">Example of a list with icons</p>
            <div class="" ng-include src="'views/styles/lists/lists/icon.html'" ></div>

            <div id="unstyled" class="h4 m-b-xs m-t-3">Unstyled List</div>
            <p class="m-b-1">Example of a unstyled list</p>
            <div class="" ng-include src="'views/styles/lists/lists/unstyled.html'" ></div>

            <div id="inline" class="h4 m-b-xs m-t-3">Inline List</div>
            <p class="m-b-1">Example of a inline list</p>
            <div class="" ng-include src="'views/styles/lists/lists/inline.html'" ></div>


            <div class="h2 m-b-1 m-t-3 ">List Groups</div>
            <hr>
            <div id="basicListGroup" class="h4 m-b-xs m-t-3">Basic</div>
            <p class="m-b-1">Example of a basic list group</p>
            <div class="" ng-include src="'views/styles/lists/list-group/basic.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <pre class="code pre-scrollable bg-light p-a-1 b-a" ng-include src="'views/styles/lists/list-group/basic.html'" maketext></pre>

            <div id="contextual" class="h4 m-b-xs m-t-3">Contextual</div>
            <p class="m-b-1">Each list item may contain a contextual color as well:</p>
            <div class="" ng-include src="'views/styles/lists/list-group/contextual.html'" ></div>

            <div id="custom" class="h4 m-b-xs m-t-3">Custom</div>
            <p class="m-b-1">Example of a custom list group</p>
            <div class="" ng-include src="'views/styles/lists/list-group/text-image.html'" ></div>

            <div id="borders" class="h4 m-b-xs m-t-3">Borders</div>
            <p class="m-b-1">Remove the outside border or all borders from a list group</p>
            <div class="" ng-include src="'views/styles/lists/list-group/borders.html'" ></div>

            <div id="color" class="h4 m-b-xs m-t-3">Color</div>
            <p class="m-b-1">Change the list group color</p>
            <div class="" ng-include src="'views/styles/lists/list-group/color.html'" ></div>

            <div id="size" class="h4 m-b-xs m-t-3">Size</div>
            <p class="m-b-1">In addition to defaults list groups can be large or small</p>
            <div class="" ng-include src="'views/styles/lists/list-group/size.html'" ></div>

            <div id="spacing" class="h4 m-b-xs m-t-3">Spacing</div>
            <p class="m-b-1">Spacing applied to list items</p>
            <div class="" ng-include src="'views/styles/lists/list-group/spacing.html'" ></div>

            <div id="alternate" class="h4 m-b-xs m-t-3">Alternating</div>
            <p class="m-b-1">Alternate the backgroud coloring on list items</p>
            <div class="" ng-include src="'views/styles/lists/list-group/alternate.html'" ></div>


            <div class="h2 m-b-1 m-t-3 ">List Group Items</div>
            <hr>
            <div id="basicListItem" class="h4 m-b-xs m-t-3">Basic List Item</div>
            <p class="m-b-1">Example of a basic list item</p>
            <div class="" ng-include src="'views/styles/lists/list-items/basic.html'" ></div>

            <div id="listItemIcon" class="h4 m-b-xs m-t-3">Icon</div>
            <p class="m-b-1">A list item can contain an icon</p>
            <div class="" ng-include src="'views/styles/lists/list-items/icon.html'" ></div>

            <div id="listItemImage" class="h4 m-b-xs m-t-3">Image</div>
            <p class="m-b-1">A list item can contain an image</p>
            <div class="" ng-include src="'views/styles/lists/list-items/image.html'" ></div>

            <div id="listItemActions" class="h4 m-b-xs m-t-3">Actions</div>
            <p class="m-b-1">A list item can contain an action or dropdown with actions</p>
            <div class="" ng-include src="'views/styles/lists/list-items/action.html'" ></div>

            <div id="listItemLabels" class="h4 m-b-xs m-t-3">Labels</div>
            <p class="m-b-1">A list item can contain a label</p>
            <div class="" ng-include src="'views/styles/lists/list-items/label.html'" ></div>

            <div id="task" class="h4 m-b-xs m-t-3">Task</div>
            <p class="m-b-1">Example of a task list item</p>
            <div class="" ng-include src="'views/styles/lists/list-items/task.html'" ></div>

            <div id="article" class="h4 m-b-xs m-t-3">Article</div>
            <p class="m-b-1">Example of a list item displaying an article.</p>
            <div class="" ng-include src="'views/styles/lists/list-items/article.html'" ></div>



            <div id="kendoListView" class="h4 m-b-xs m-t-3">Kendo List View</div>
            <p class="m-b-1">Leverage data binding and list groups using Kendo listView Templates.</p>
            <div class="" ng-include src="'views/styles/lists/list-group/klistView.html'" ></div>


            <p id="classes" class="h4 m-b-1 m-t-3">Classes</p>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 20%">Class</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><code>.list-inline</code></td>
                        <td>Defines a basic list as inline</td>
                    </tr>
                    <tr>
                        <td><code>.list-inline-item</code></td>
                        <td>Changes list item to inline element</td>
                    </tr>
                    <tr>
                        <td><code>.list-unstyled</code></td>
                        <td>Removes basic list formating</td>
                    </tr>
                    <tr>
                        <td><code>.list-group</code></td>
                        <td>Defines the list group. Adds basic default styling.</td>
                    </tr>
                    <tr>
                        <td><code>.list-group-lg</code></td>
                        <td>Increases the padding and font sizing of the list items</td>
                    </tr>
                    <tr>
                        <td><code>.list-group-sm</code></td>
                        <td>Decreases the padding and font sizing of the list items</td>
                    </tr>
                    <tr>
                        <td><code>.list-group-sp</code></td>
                        <td>Separates each list item with a margin</td>
                    </tr>
                    <tr>
                        <td><code>.list-group-alt</code></td>
                        <td>Alternates backgrouds styles for repeating list items. May be used with backgroud colors.</td>
                    </tr>
                    <tr>
                        <td><code>.list-group-flush</code></td>
                        <td>Removes the default radius and side borders from the list group. Helpful when embedding lists in a bordered container such as cards.</td>
                    </tr>
                    <tr>
                        <td><code>.bg-*</code></td>
                        <td>Use modifier classes to change the appearance of each step by adding <code>.bg-*</code> to the <code>.steps</code> class. You may also apply variations by adding <code>.dk</code>, <code>.dker</code>, <code>.lt</code>, <code>.lter</code> to darken or lighten the base color.</td>
                    </tr>
                    <tr>
                        <td><code>.no-borders</code></td>
                        <td>Removes all borders from the list group</td>
                    </tr>
                    <tr>
                        <td><code>.no-border</code></td>
                        <td>Remove the list group outside border</td>
                    </tr>
                    <tr>
                        <td><code>.list-group-item</code></td>
                        <td>Defines the list group. Adds basic default styling.</td>
                    </tr>
                    <tr>
                        <td><code>.list-group-item-*</code></td>
                        <td>According to the theme color applies contextual color to the list item.</td>
                    </tr>
                    <tr>
                        <td><code>.list-group-item-heading</code></td>
                        <td>Defines default styling for the heading</td>
                    </tr>
                    <tr>
                        <td><code>.list-group-item-text</code></td>
                        <td>Defines the base text of the list item</td>
                    </tr>
                    <tr>
                        <td><code>.active</code></td>
                        <td>Applies active styling based on the color</td>
                    </tr>
                    <tr>
                        <td><code>.disabled</code></td>
                        <td>Applies disabled styling to the item based on the color</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <aside class="aside-md b-l hidden-md-down nav-sidebar bg-white">
            <nav class="nav-scroll affix w-full" role="navigation" jumpmenu>
                <div class="text-muted text-u-c hidden-nav padder m-t-1 m-b-1">On This Page:</div>
                <ul class="nav nav-main" data-ride="collapse">
                    <li class="nav-item active">
                        <a href="javascript:void(0)" data-target="#overview" class="nav-link  active">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link active">Lists</a>
                        <ul class="nav">
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#basicList" class="nav-link ">Basic</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#ordered" class="nav-link ">Ordered</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#icons" class="nav-link ">Icons</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#unstled" class="nav-link ">Unstyled</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#inline" class="nav-link ">Inline</a>
                          </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link active">List Groups</a>
                        <ul class="nav">
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#basicListGroup" class="nav-link ">Basic</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#contextual" class="nav-link ">Contextual</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#custom" class="nav-link ">Custom</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#borders" class="nav-link ">Borders</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#color" class="nav-link ">Color</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#size" class="nav-link ">Size</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#spacing" class="nav-link ">Spacing</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#alternate" class="nav-link ">Alternating</a>
                          </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link active">List Group Items</a>
                        <ul class="nav">
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#basicListItem" class="nav-link ">Basic</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#listItemIcon" class="nav-link ">Icon</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#listItemImage" class="nav-link ">Images</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#listItemActions" class="nav-link ">Actions</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#listItemLabels" class="nav-link ">Labels</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#task" class="nav-link ">Task</a>
                          </li>
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#article" class="nav-link ">Article</a>
                          </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link active">Kendo List View</a>
                        <ul class="nav">
                          <li class="nav-item">
                              <a href="javascript:void(0)" data-target="#kendoListView" class="nav-link ">Basic List View</a>
                          </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" data-target="#classes" class="nav-link ">Classes</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>