<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-x-3">
            <h1 class="display-5">Mega Menu</h1>
            <p class="lead">Text</p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-x-3">
            <div id="basic" class="h4 m-b-1 m-t-1">Overview</div>
            <p class="" ng-include src="'views/styles/mega-menu/mega-menu1.html'"></p>
        </section>
        <aside class="aside-md b-l hidden-md-down nav-sidebar bg-white">
            <nav class="nav-scroll affix w-full" role="navigation" jumpmenu>
                <div class="text-muted text-u-c hidden-nav padder m-t-1 m-b-1">On This Page:</div>
                <ul class="nav nav-main" data-ride="collapse">
                    <li class="nav-item active">
                        <a href="javascript:void(0)" data-target="#overview" class="nav-link  active">Test</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>