<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-x-3">
            <h1 class="display-5">Tables</h1>
            <p class="lead">Tables are structured grids of information that help users make sense of potentially large amounts of data.</p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-x-3">
            <div id="basic" class="h4 m-b-1 m-t-1">Basic Tables</div>
            <p>Add class <code>.table</code>.</p>
            <div class="" ng-include src="'views/styles/tables/basic.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/basic.html'" maketext></pre></div>

            <div id="inverse" class="h4 m-b-1 m-t-3">Inverse Tables</div>
            <p>Add class <code>.table-inverse</code> to the <code>.table</code>.</p>
            <div class="" ng-include src="'views/styles/tables/inverse.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/inverse.html'" maketext></pre></div>

            <div id="bordered" class="h4 m-b-1 m-t-3">Bordered Tables</div>
            <p>Add <code>.table-bordered</code> to the <code>.table</code> for borders on all sides of the table and cells.</p>
            <div class="" ng-include src="'views/styles/tables/bordered.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p> 
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/bordered.html'" maketext></pre></div>

            <div id="striped" class="h4 m-b-1 m-t-3">Striped Tables</div>
            <p>Add <code>.table-striped</code> to the <code>.table</code> to add zebra-striping to any table row within the <code>&lt;tbody&gt;</code>.</p>
            <div class="" ng-include src="'views/styles/tables/striped.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/striped.html'" maketext></pre></div>

            <div id="hover" class="h4 m-b-1 m-t-3">Hoverable Rows</div>
            <p>Add <code>.table-hover</code> to the <code>.table</code> to enable a hover state on table rows within the <code>&lt;tbody&gt;</code>.</p>
            <div class="" ng-include src="'views/styles/tables/hover.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/hover.html'" maketext></pre></div>

            <div id="size" class="h4 m-b-1 m-t-3">Hoverable Rows</div>
            <p>Use modifier classes to <code>&lt;thead&gt;</code>. Add <code>.table-sm</code> to the <code>.table</code> to decrease the tables padding.</p>
            <div class="" ng-include src="'views/styles/tables/size.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/size.html'" maketext></pre></div>

            <div id="head" class="h4 m-b-1 m-t-3">Table Head Optionss</div>
            <p>Use modifier classes to <code>&lt;thead&gt;</code>.</p>
            <div class="" ng-include src="'views/styles/tables/headoptions.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/headoptions.html'" maketext></pre></div>

            <div id="contextual" class="h4 m-b-1 m-t-3">Contextual Classes</div>
            <p>Use contextual classes to color table rows or individual cells.</p>
            <div class="" ng-include src="'views/styles/tables/contextual.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p> 
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/contextual.html'" maketext></pre></div>

            <div id="responsive" class="h4 m-b-1 m-t-3">Responsive Tables</div>
            <p>Create responsive tables by wrapping any <code>.table</code> in <code>.table-responsive</code> to make them scroll horizontally on small devices (under 768px). When viewing on anything larger than 768px wide, you will not see any difference in these tables.</p>
            <div class="" ng-include src="'views/styles/tables/responsive.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/responsive.html'" maketext></pre></div>

            <div id="reflow" class="h4 m-b-1 m-t-3">Reflow Tables</div>
            <p>Add class <code>.table-reflow</code> to the <code>.table</code>.</p>
            <div class="" ng-include src="'views/styles/tables/reflow.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/reflow.html'" maketext></pre></div>

            <div id="kbasic" class="h4 m-b-1 m-t-3">Kendo UI Basic Table</div>
            <div class="" ng-include src="'views/styles/tables/kbasic.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/kbasic.html'" maketext></pre></div>


            <div id="kbasictemplate" class="h4 m-b-1 m-t-3">Kendo UI Basic Table with BS Grid System</div>
            <p>To use Boostrap grid system with Kendo UI widget, add class <code>.border-box</code> on any element that might get nested inside of a Kendo UI widget that you know will have Bootstrap content.</p>
            <div class="" ng-include src="'views/styles/tables/kbasictemplate.html'" ></div>
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <div class="code pre-scrollable bg-light p-a-1 b-a"><pre ng-include src="'views/styles/tables/kbasictemplate.html'" maketext></pre></div>

            <div id="khierarchy" class="h4 m-b-1 m-t-3">Kendo UI Hierarchy Table</div>
            <p>This example shows how to use the detail template of Kendo UI grid when implementing hierarchical table presentatio</p>
            <iframe src="views/styles/tables/khierarchy" class="no-border w-full overflow-v" iframe-set-dimensions-onload></iframe> 
            <p class="h6 font-bold m-t-1 m-b-1">Example markup</p>
            <div class="code pre-scrollable bg-light p-a-1 b-a m-b-1"><pre ng-include src="'views/styles/tables/khierarchy.html'" maketext></pre></div>
        </section>
        <aside class="aside-md b-l hidden-md-down nav-sidebar bg-white">
            <nav class="nav-scroll affix w-full" role="navigation" jumpmenu>
                <div class="text-muted text-u-c hidden-nav padder m-t-1 m-b-1">On This Page:</div>
                <ul class="nav nav-main" data-ride="collapse">
                    <li class="nav-item active">
                        <a href="javascript:void(0)" class="nav-link active">BootStrap Tables</a>
                        <ul class="nav" style="display: block;">
                            <li class="nav-item active"><a href="javascript:void(0)" data-target="#basic" class="nav-link active">Basic</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#inverse" class="nav-link">Inverse</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#bordered" class="nav-link">Bordered</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#striped" class="nav-link">Striped</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#hover" class="nav-link">Hoverable</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#size" class="nav-link">Size</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#head" class="nav-link">Head Options</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#contextual" class="nav-link">Contextual</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#responsive" class="nav-link">Responsiveness</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#reflow" class="nav-link">Reflow</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">Kendo Grid</a>
                        <ul class="nav">
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#kbasic" class="nav-link">Basic</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#kbasictemplate" class="nav-link">Templating</a></li>
                            <li class="nav-item"><a href="javascript:void(0)" data-target="#khierarchy" class="nav-link">Hierarchy</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>