<!-- Large modal -->
<button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal animated zoomIn bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>

<!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>

<div class="modal animated zoomIn bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>

<!-- Responsive modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-responsive">Small modal</button>

<div class="modal animated zoomIn bd-example-modal-responsive" tabindex="-1" role="dialog" aria-labelledby="myResponsiveModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-responsive">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>