<div id="cards" class="bg-light b-b p-a-2">

    <!--begin row-->
    <div class="row m-2">

        <!--begin account card 1 -->
        <div class="col-sm-4">
            <div class="card card-default">
                <img class="card-img-top w-full" style="background-color:#0085C3;" src="lib/images/dell_circle_logo_transp_sm.png" alt="Dell">
                <div class="card-block">
                    <div class="h6 link"> <a href="javascript:void(0)">Dell Finance Department</a></div>
                    <div class="m-t-1 m-b-xs">Revenue: <span class="label label-md bg-info">$176,000</span></div>
                    <div class="text-sm text-muted">Contact <span class="font-bold">Clark Henderson</span></div>
                    <div class="text-sm text-muted">Location <span class="font-bold">Israel</span></div>
                </div>
                <div class="card-footer text-sm-center">
                    <button class="btn btn-default btn-sm m-r-2">Edit</button>
                    <button class="btn btn-default btn-sm">Add Note</button>
                </div>

            </div>
        </div>
        <!--end account card 1 -->

        <!--begin comtact card 1 -->
        <div class="col-sm-4">
            <div class="card">
                <div class="p-a-1">
                    <div class="avatar avatar-md img-circle pull-left m-r-1">
                        <img class="img-fluid" src="lib/images/avatar_default.jpg" alt="">
                    </div>
                    <span>        
                    <div class="h6 text-ellipsis">Jennifer Williamstone</div>
                    <div class="text-muted text-sm text-ellipsis"> Account Representative</div>
                      <div class="text-sm text-muted"> <a href="javascript:void(0)"><i class="fa fa-phone text-muted"></i></a> 1 876-123-4567</div>
                            <a href="javascript:void(0)" class="text-sm text-ellipsis">jwilliamstone@ten10.com</a>                  
                </span>


                </div>

            </div>


        </div>
        <!--end contact card 1 -->

        <!--begin contact card with email 2 -->
        <div class="col-sm-4">
            <div class="card card-default">
                <img class="card-img-top w-full pull-left bg-info" src="lib/images/abstback_trans_sm40.png" alt="Card image cap">
                <button class="btn btn-white b-info btn-icon btn-lg rounded pull-right m-t-n-lg m-r" type="button" data-toggle="collapse" data-target="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail"><i class="fa fa-envelope text-info"></i></button>
                <span class="media media-left">   
                    <span class="avatar avatar-md img-circle pull-left m-l-1">
                        <img class="img-fluid" src="lib/images/avatar_default.jpg" alt="">
                    </span>
                </span>
                <div class="card-block">
                    <span class="h5 m-b-xxs text-ellipsis">Jonathan Willamston</span>
                    <div class="h6 m-b-xs text-ellipsis">Senior Sales Associate</div>
                    <div class="collapse" id="collapseEmail">
                        <input type="text" class="k-input k-textbox text-muted m-b-1" value="jwillamton@ten10.com" style="width:100%;" />
                        <input type="text" class="k-input k-textbox text-muted m-b-1" value="Subject" style="width:100%;" />
                        <textarea data-bind="value: textareaValue" class="k-textbox text-sm" style="width:100%;">Message</textarea>

                        <div class="padder-v">
                            <button class="btn btn-info btn-sm m-r-1">Send</button>
                            <button class="btn btn-secondary btn-sm">Cancel</button>
                        </div>
                    </div>


                    <div class="link text-sm text-ellipsis">
                        <i class="fa fa-envelope-o m-r-1 text-info"></i> <a href="javascript:void(0)">jwillamston@ten10.com</a>
                    </div>
                    <div class="text-sm">
                        <i class="fa fa-phone m-r-1 text-info"></i>1 800 407-7712
                    </div>
                    <div class="text-sm m-r-3 text-ellipsis">
                        <i class="fa fa-map-marker m-r-1 text-info"></i>Company
                    </div>
                </div>
            </div>
        </div>
        <!--end contact card with email 2 -->

    </div>
    <!--end row-->




    <!--begin row-->
    <div class="row m-t-3">

        <!--begin top customers card 1-->
        <div class="col-sm-4">
            <div class=" card card-default">
                <div class="card-header h5">
                    Top Customers <span class="pull-right label label-lg bg-success">$1.5M</span>
                </div>
                <div class="card-block text-sm-center">
                    <div class="row">
                        <div class="col-sm-4 text-sm"><img src="lib/images/apple_logo_sm.png" class="m-r-xs">
                            <span class="font-bold">541</span>K</div>
                        <div class="col-sm-4 text-sm"><img src="lib/images/amazon_logo_sm.png" class="m-r-xs">
                            <span class="font-bold">$238</span>K</div>
                        <div class="col-sm-4 text-sm"><img src="lib/images/hp_logo_sm.png">
                            <span class="font-bold">$721</span>K</div>

                    </div>
                </div>
                <div class="card-footer">
                    <div class="text-sm">Recent Order <span class="text-muted text-xs pull-right">updated 2 mins ago</span></div>
                    <a href="javascript:void(0)" class="link text-sm">Microsoft Corp.</a>
                    <span class="text-sm text-dark">$121K</span>

                </div>
            </div>
        </div>
        <!--end top customers card 1-->

        <!--begin inventory card 1 -->
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header p-a-1">

                    <img class="pull-right padder-h-xs" src="lib/images/dell_circle_bluelogo_transp_sm.png" style="width:20%;" alt="Dell">
                    <div class=" text-md">XPS 13 Touch
                        <div class="text-sm">Product# <span class="font-bold">2236712</span></div>
                    </div>
                </div>
                <div class="list-group list-group-flush">

                    <!-- begin first location -->

                    <span class="list-group-item">                  
                <div class="h6 m-b-xxs">
                    <a href="javascript:void(0)" target="blank" data-toggle="collapse" data-target="#collapsemap3" aria-expanded="false" aria-controls="collapsemap3" class="collapsed">
                        <i class="fa fa-map-marker fontblue m-r-xs"></i>Norcross, GA Inventory</a>
                </div>
                <div class="m-t-1 collapse" id="collapsemap3" aria-expanded="false">
                    <div class="embed-responsive embed-responsive-16by9">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3309.038997683909!2d-84.199758049587!3d33.9658371296317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5a170b66339ed%3A0x267037522c944a35!2sBrave+Point+Inc!5e0!3m2!1sen!2sus!4v1454524242524" allowfullscreen=""></iframe>

                    </div>
                </div>
                        <div class=" text-sm text-normal m-t-xs"><span class="font-bold">$2,079.99</span> / Unit | <span class="font-bold">210K</span> Available
                </div>


                <div class="m-t-xs">
                    <label for="numeric" class="text-sm">Select Quantity</label>
                </div>
                <div class="input-group input-group-sm w-full">
                    <input id="numeric" type="number" value="1" min="1" class="form-control text-sm">
                    <span class="input-group-btn">
            <button class="btn btn-default" type="button">Add to Cart</button>
          </span>
                </div>
                </span>

                <!-- end first location -->


                <!-- begin second location -->

                <span class="list-group-item">                  
                <div class="h6 m-b-xxs">
                    <a href="javascript:void(0)" target="blank" data-toggle="collapse" data-target="#collapsemap4" aria-expanded="false" aria-controls="collapsemap4" class="collapsed">
                        <i class="fa fa-map-marker fontblue m-r-xs"></i>Norfolk, MA Inventory</a>
                </div>
                <div class="m-t-1 collapse" id="collapsemap4" aria-expanded="false">
                    <div class="embed-responsive embed-responsive-16by9">

                       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23672.241458136483!2d-71.31417437747942!3d42.12823709068769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e47b1e43a76af3%3A0xb32d9dc8192c2d8d!2sMain+St%2C+Norfolk%2C+MA+02056!5e0!3m2!1sen!2sus!4v1454525482430" width="600" height="450" allowfullscreen></iframe>

                    </div>
                </div>
                        <div class=" text-sm text-normal m-t-xs"><span class="font-bold">$2,079.99</span> / Unit | <span class="font-bold">1,989</span> Available
            </div>
            <div class="m-t-xs">
                <label for="numeric" class="text-sm">Select Quantity</label>
            </div>
            <div class="input-group input-group-sm w-full">
                <input id="numeric" type="number" value="1" min="1" class="form-control">
                <span class="input-group-btn">
            <button class="btn btn-default" type="button">Add to Cart</button>
          </span>
            </div>
            </span>

            <!-- end second location -->
        </div>
        <div class="card-footer text-muted text-xs-center">
            <a href="javascript:void(0)">View 1 More</a>
        </div>
    </div>
</div>
<!--end inventory card 1-->

<!--begin product card 1 -->
<div class="col-sm-4">
    <div class="card">
        <div class="card-header p-a-1">
            <img src="lib/images/telerik_logo.png">
        </div>
        <div class="card-block">
            <div class="h6">DevCraft</div>
            <span class="text-sm">Get the most complete toolbox for the price of just two products.</span>
            <span class="hide text-sm" id="moreless"> Includes 8 UI suites for all .NET platforms (500+ controls), 70 mobile-ready HTML5/JS UI widgets and 6 coding, reporting and data tools. </span>
            <a href="#moreless" class="link" data-toggle="class:show">

                <span class="text text-sm text-info">More <i class="fa fa-angle-down text-info"></i></span>

                <span class="text-active text-sm text-info">Less <i class="fa fa-angle-down text-info"></i></span>
            </a>



            <div>
                <h6 class="m-t-1 text-sm">Select Your Product</h6>
                <input id="prodname" placeholder="Select product..." class="w-full" />
            </div>
            <div class="m-t-xs">
                <label for="numeric" class="text-sm">Select Quantity</label>
            </div>

            <div class="input-group input-group-sm w-full">
                <input id="numeric" type="number" value="1" min="1" class="form-control">
                <span class="input-group-btn">
            <button class="btn btn-default" type="button">Add to Cart</button>
          </span>
            </div>
        </div>
    </div>
</div>
<!--end product card 1 -->

</div>
<!--end row-->



<script>
    $(document).ready(function () {
        // create ComboBox from input HTML element
        $("#prodname").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                {
                    text: "UI Edition - $1,299",
                    value: "1"
                                        },
                {
                    text: "Complete Edition - $1,499",
                    value: "2"
                                        },
                {
                    text: "Ultimate Edition - $1,999",
                    value: "3"
                                        }

                        ],
            filter: "contains",
            suggest: true,
            index: 3
        });


        // create ComboBox from select HTML element
        $("#size").kendoComboBox();
        var select = $("#size").data("kendoComboBox");
    });
</script>



<script>
    $(document).ready(function () {
        // create ComboBox from input HTML element
        $("#prodname2").kendoComboBox({
            dataTextField: "text",
            dataValueField: "value",
            dataSource: [
                {
                    text: "UI Edition - $1,299",
                    value: "1"
                                        },
                {
                    text: "Complete Edition - $1,499",
                    value: "2"
                                        },
                {
                    text: "Ultimate Edition - $1,999",
                    value: "3"
                                        }

                        ],
            filter: "contains",
            suggest: true,
            index: 3
        });


        // create ComboBox from select HTML element
        $("#size").kendoComboBox();
        var select = $("#size").data("kendoComboBox");
    });
</script>
<!--end row-->



<!--end main div-->
</div>