<div class="col-md-6">
    <div class="card ">
        <div class="card-title m-a-1">
            <h6 class="font-bold">Fade animation</h6> </div>
        <div class="card-block">
            <ul class="nav nav-tabs nav-tabs-highlight">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#fade-tab1" data-toggle="tab">Active</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#fade-tab2" data-toggle="tab">Inactive</a></li>
                <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#fade-tab3" data-toggle="tab">Dropdown tab</a>
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#fade-tab4" data-toggle="tab">Another tab</a>
                    </div>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane p-y-1 fade in active" id="fade-tab1"> To make tabs fade in, add <code>.fade</code> to each <code>.tab-pane p-y-1</code> and <code>.in</code> to the active tab. </div>
                <div class="tab-pane p-y-1 fade" id="fade-tab2"> Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid laeggin. </div>
                <div class="tab-pane p-y-1 fade" id="fade-tab3"> DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg whatever. </div>
                <div class="tab-pane p-y-1 fade" id="fade-tab4"> Aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthet. </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card ">
        <div class="card-title m-a-1">
            <h6 class="font-bold">CSS animations</h6> </div>
        <div class="card-block">
            <ul class="nav nav-tabs nav-tabs-highlight">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#css-animate-tab1" data-toggle="tab">Active</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#css-animate-tab2" data-toggle="tab">Inactive</a></li>
                <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#css-animate-tab3" data-toggle="tab">Dropdown tab</a>
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#css-animate-tab4" data-toggle="tab">Another tab</a>
                    </div>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane p-y-1 animated bounceIn active" id="css-animate-tab1"> To use custom animations, add animation classes to each <code>.tab-pane p-y-1</code> container. </div>
                <div class="tab-pane p-y-1 animated fadeInUp" id="css-animate-tab2"> Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid laeggin. </div>
                <div class="tab-pane p-y-1 animated zoomIn" id="css-animate-tab3"> DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg whatever. </div>
                <div class="tab-pane p-y-1 animated flipInX" id="css-animate-tab4"> Aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthet. </div>
            </div>
        </div>
    </div>
</div>
