<ul class="nav nav-tabs bg-white m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#backgroud-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#backgroud-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>

<ul class="nav nav-tabs bg-light m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#backgroud-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#backgroud-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>

<ul class="nav nav-tabs bg-primary m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#backgroud-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#backgroud-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>

<ul class="nav nav-tabs bg-info m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#backgroud-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#backgroud-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>

<ul class="nav nav-tabs bg-success m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#backgroud-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#backgroud-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>

<ul class="nav nav-tabs bg-warning m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#backgroud-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#backgroud-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>
<ul class="nav nav-tabs bg-danger m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#backgroud-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#backgroud-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>

<ul class="nav nav-tabs bg-inverse m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#backgroud-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#backgroud-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>

<ul class="nav nav-tabs bg-dark m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#backgroud-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#backgroud-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>

<ul class="nav nav-tabs bg-black m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#backgroud-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#backgroud-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#backgroud-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>