<ul class="nav nav-tabs nav-tabs-highlight">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#badges-tab1" data-toggle="tab"><span class="label label-sm label-pill text-uppercase label-success ">78</span> Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#badges-tab2" data-toggle="tab">Inactive <span class="label label-sm label-pill text-uppercase label-default">23</span></a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown"><span class="label label-sm label-pill text-uppercase label-info">34</span> <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#badges-tab3" data-toggle="tab">Dropdown tab</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#badges-tab4" data-toggle="tab">Another tab</a>
        </div>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane p-y-1 active" id="badges-tab1"> Item one content</div>
    <div class="tab-pane p-y-1" id="badges-tab2"> Item two content</div>
    <div class="tab-pane p-y-1" id="badges-tab3"> Item three content </div>
    <div class="tab-pane p-y-1" id="badges-tab4"> Item four content</div>
</div>
