<ul class="nav nav-tabs nav-tabs-highlight">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#bordered-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#bordered-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#bordered-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#bordered-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>
<div class="tab-content tab-content-bordered">
    <div class="tab-pane p-a-1 active" id="bordered-tab1"> Item one content</div>
    <div class="tab-pane p-a-1" id="bordered-tab2"> Item two content</div>
    <div class="tab-pane p-a-1" id="bordered-tab3"> Item three content </div>
    <div class="tab-pane p-a-1" id="bordered-tab4"> Item four content</div>
</div>
