<ul class="nav nav-tabs m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#dropdown-tab1" data-toggle="tab">Tab One</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#dropdown-tab2" data-toggle="tab">Tab Two</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#dropdown-tab3" data-toggle="tab">Tab Three</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#dropdown-tab4" data-toggle="tab">Tab Four</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#dropdown-tab5" data-toggle="tab">Tab Five</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">More <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#dropdown-tab6" data-toggle="tab">Tab Six</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#dropdown-tab7" data-toggle="tab">Tab Seven</a>
        </div>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane p-y-1 active" id="dropdown-tab1"> Item one content</div>
    <div class="tab-pane p-y-1" id="dropdown-tab2"> Item two content</div>
    <div class="tab-pane p-y-1" id="dropdown-tab3"> Item three content </div>
    <div class="tab-pane p-y-1" id="dropdown-tab4"> Item four content</div>
    <div class="tab-pane p-y-1" id="dropdown-tab5"> Item five content</div>
    <div class="tab-pane p-y-1" id="dropdown-tab6"> Item six content</div>
    <div class="tab-pane p-y-1" id="dropdown-tab7"> Item seven content</div>
</div>