<header class="header bg-light b-a b-light">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#header-tab1" data-toggle="tab">Active</a></li>
        <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#header-tab2" data-toggle="tab">Inactive</a></li>
        <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="" role="button" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="javascript:void(0)" class="dropdown-item" data-target="#header-tab3" role="tab" data-toggle="tab">Tab Three</a>
                <a href="javascript:void(0)" class="dropdown-item" data-target="#header-tab4" role="tab" data-toggle="tab">Tab Four</a>
            </div>
        </li>
    </ul>
</header>