<ul class="nav nav-tabs nav-tabs-top">
    <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link active" data-target="#icon-only-tab1" data-toggle="tab"> <i class="fa fa-bars fa-fw"></i> <span class="hidden-sm-up ">Active</span> </a>
    </li>
    <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link disabled" data-target="#icon-only-tab2" data-toggle="tab"> <i class="fa fa-hashtag fa-fw"></i> <span class="hidden-sm-up ">Inactive</span> </a>
    </li>
    <li class="nav-item dropdown">
        <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown"> <i class="fa fa-cog fa-fw"></i> <span class="hidden-sm-up ">Dropdown</span> <span class="caret"></span> </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#icon-only-tab3" data-toggle="tab">Dropdown tab</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#icon-only-tab4" data-toggle="tab">Another tab</a>
        </div>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane p-y-1 active" id="icon-only-tab1"> Item one content</div>
    <div class="tab-pane p-y-1" id="icon-only-tab2"> Item two content</div>
    <div class="tab-pane p-y-1" id="icon-only-tab3"> Item three content </div>
    <div class="tab-pane p-y-1" id="icon-only-tab4"> Item four content</div>
</div>
