<ul class="nav nav-inline">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#inline-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#inline-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown">
        <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" data-target="" role="button" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#inline-tab3" role="tab" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#inline-tab4" role="tab" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane p-y-1 active" id="inline-tab1"> Item one content</div>
    <div class="tab-pane p-y-1" id="inline-tab2"> Item two content</div>
    <div class="tab-pane p-y-1" id="inline-tab3"> Item three content </div>
    <div class="tab-pane p-y-1" id="inline-tab4"> Item four content</div>
</div>
