<ul class="nav nav-tabs nav-justified m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#basic-justified-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#basic-justified-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#basic-justified-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#basic-justified-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane p-y-1 active" id="basic-justified-tab1"> Item one content</div>
    <div class="tab-pane p-y-1" id="basic-justified-tab2"> Item two content</div>
    <div class="tab-pane p-y-1" id="basic-justified-tab3"> Item three content </div>
    <div class="tab-pane p-y-1" id="basic-justified-tab4"> Item four content</div>
</div>