<ul class="nav nav-tabs nav-tabs-highlight">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#label-tab1" data-toggle="tab"><span class="label label-sm text-uppercase label-danger ">Bug</span> Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#label-tab2" data-toggle="tab">Inactive <span class="label label-sm text-uppercase label-default">Fixed</span></a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown"><span class="label label-sm text-uppercase label-success">Priority</span> </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#justified-label-tab3" data-toggle="tab">Dropdown tab</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#justified-label-tab4" data-toggle="tab">Another tab</a>
        </div>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane p-y-1 active" id="label-tab1"> Item one content</div>
    <div class="tab-pane p-y-1" id="label-tab2"> Item two content</div>
    <div class="tab-pane p-y-1" id="label-tab3"> Item three content </div>
    <div class="tab-pane p-y-1" id="label-tab4"> Item four content</div>
</div></div>
