<div class="col-md-6">
    <div class="card ">
        <div class="card-title m-a-1">
            <h6 class="font-bold">Large size</h6> </div>
        <div class="card-block">
            <ul class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#large-tab1" data-toggle="tab">Active</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#large-tab2" data-toggle="tab">Inactive</a></li>
                <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#large-tab3" data-toggle="tab">Dropdown tab</a>
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#large-tab4" data-toggle="tab">Another tab</a>
                    </div>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane p-y-1 active" id="large-tab1"> To use large size, add <code>.nav-tabs-lg</code> class to the <code>.nav-tabs</code> base class. </div>
                <div class="tab-pane p-y-1" id="large-tab2"> Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid laeggin. </div>
                <div class="tab-pane p-y-1" id="large-tab3"> DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg whatever. </div>
                <div class="tab-pane p-y-1" id="large-tab4"> Aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthet. </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card ">
        <div class="card-title m-a-1">
            <h6 class="font-bold">Large with elements</h6> </div>
        <div class="card-block">
            <ul class="nav nav-lg nav-tabs nav-tabs-solid nav-tabs-component nav-justified">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#large-justified-tab1" data-toggle="tab"><i class="fa fa-bars fa-fw"></i> Active</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#large-justified-tab2" data-toggle="tab"><span class="label label-danger ">Done</span> Inactive</a></li>
                <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="badge bg-slate ">39</span> <span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#large-justified-tab3" data-toggle="tab">Dropdown tab</a>
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#large-justified-tab4" data-toggle="tab">Another tab</a>
                    </div>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane p-y-1 active" id="large-justified-tab1"> To use in tabs with equal widths add <code>.nav-justified .nav-tabs-lg</code> classes. </div>
                <div class="tab-pane p-y-1" id="large-justified-tab2"> Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid laeggin. </div>
                <div class="tab-pane p-y-1" id="large-justified-tab3"> DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg whatever. </div>
                <div class="tab-pane p-y-1" id="large-justified-tab4"> Aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthet. </div>
            </div>
        </div>
    </div>
</div>
