<ul class="nav nav-tabs">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#nested-tab1" data-toggle="tab">First</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#nested-tab2" data-toggle="tab">Second</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#nested-tab3" data-toggle="tab">Third</a></li>
</ul>
<div class="tab-content tab-content-bordered">
    <div class="tab-pane p-a-1 active" id="nested-tab1">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#nested-tab1-1A" data-toggle="tab">1A</a></li>
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#nested-tab1-1B" data-toggle="tab">1B</a></li>
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#nested-tab1-1C" data-toggle="tab">1C</a></li>
        </ul>
        <div class="tab-content tab-content-bordered">
            <div class="tab-pane p-a-1 active" id="nested-tab1-1A">1A</div>
            <div class="tab-pane p-a-1" id="nested-tab1-1B">1B</div>
            <div class="tab-pane p-a-1" id="nested-tab1-1C">1C</div>
        </div>
    </div>
    <div class="tab-pane p-a-1" id="nested-tab2">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#nested-tab2-2A" data-toggle="tab">2A</a></li>
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#nested-tab2-2B" data-toggle="tab">2B</a></li>
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#nested-tab2-2C" data-toggle="tab">2C</a></li>
        </ul>
        <div class="tab-content tab-content-bordered">
            <div class="tab-pane p-a-1 active" id="nested-tab2-2A">2A</div>
            <div class="tab-pane p-a-1" id="nested-tab2-2B">2B</div>
            <div class="tab-pane p-a-1" id="nested-tab2-2C">2C</div>
        </div>
    </div>
    <div class="tab-pane p-a-1" id="nested-tab3">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#nested-tab3-3A" data-toggle="tab">3A</a></li>
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#nested-tab3-3B" data-toggle="tab">3B</a></li>
            <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#nested-tab3-3C" data-toggle="tab">3C</a></li>
        </ul>
        <div class="tab-content tab-content-bordered">
            <div class="tab-pane p-a-1 active" id="nested-tab3-3A">3A</div>
            <div class="tab-pane p-a-1" id="nested-tab3-3B">3B</div>
            <div class="tab-pane p-a-1" id="nested-tab3-3C">3C</div>
        </div>
    </div>
</div>