<ul class="nav nav-tabs">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#centered-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#centered-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#centered-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#centered-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>

<ul class="nav nav-tabs nav-center m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#centered-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#centered-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#centered-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#centered-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>

<ul class="nav nav-tabs nav-right m-t-1">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#right-tab1" data-toggle="tab">Active</a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#right-tab2" data-toggle="tab">Inactive</a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#right-tab3" data-toggle="tab">Tab Three</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#right-tab4" data-toggle="tab">Tab Four</a>
        </div>
    </li>
</ul>
