<ul class="nav nav-tabs nav-tabs-bottom">
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#right-icon-tab1" data-toggle="tab">Active <i class="fa fa-bars fa-fw"></i></a></li>
    <li class="nav-item"><a href="javascript:void(0)" class="nav-link disabled" data-target="#right-icon-tab2" data-toggle="tab">Inactive <i class="fa fa-hashtag fa-fw"></i></a></li>
    <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <i class="fa fa-cog fa-fw"></i> <span class="caret"></span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="javascript:void(0)" class="dropdown-item" data-target="#right-icon-tab3" data-toggle="tab">Dropdown tab</a>
            <a href="javascript:void(0)" class="dropdown-item" data-target="#right-icon-tab4" data-toggle="tab">Another tab</a>
        </div>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane p-y-1 active" id="right-icon-tab1"> Item one content</div>
    <div class="tab-pane p-y-1" id="right-icon-tab2"> Item two content</div>
    <div class="tab-pane p-y-1" id="right-icon-tab3"> Item three content </div>
    <div class="tab-pane p-y-1" id="right-icon-tab4"> Item four content</div>
</div>
