<div class="col-md-6">
    <div class="card ">
        <div class="card-title m-a-1">
            <h6 class="font-bold">Solid tabs</h6> </div>
        <div class="card-block">
            <ul class="nav nav-tabs nav-tabs-solid">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#solid-tab1" data-toggle="tab">Active</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#solid-tab2" data-toggle="tab">Inactive</a></li>
                <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#solid-tab3" data-toggle="tab">Dropdown tab</a>
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#solid-tab4" data-toggle="tab">Another tab</a>
                    </div>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane p-y-1 active" id="solid-tab1"> Add solid background color to the tabs with <code>.nav-tabs-solid</code> class. </div>
                <div class="tab-pane p-y-1" id="solid-tab2"> Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid laeggin. </div>
                <div class="tab-pane p-y-1" id="solid-tab3"> DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg whatever. </div>
                <div class="tab-pane p-y-1" id="solid-tab4"> Aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthet. </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="card ">
        <div class="card-title m-a-1">
            <h6 class="font-bold">Solid justified</h6> </div>
        <div class="card-block">
            <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link active" data-target="#solid-justified-tab1" data-toggle="tab">Active</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link" data-target="#solid-justified-tab2" data-toggle="tab">Inactive</a></li>
                <li class="nav-item dropdown"> <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-target="" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#solid-justified-tab3" data-toggle="tab">Dropdown tab</a>
                        <a href="javascript:void(0)" class="dropdown-item" data-target="#solid-justified-tab4" data-toggle="tab">Another tab</a>
                    </div>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane p-y-1 active" id="solid-justified-tab1"> To use in tabs with equal widths add <code>.nav-justified .nav-tabs-solid</code> classes. </div>
                <div class="tab-pane p-y-1" id="solid-justified-tab2"> Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid laeggin. </div>
                <div class="tab-pane p-y-1" id="solid-justified-tab3"> DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg whatever. </div>
                <div class="tab-pane p-y-1" id="solid-justified-tab4"> Aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthet. </div>
            </div>
        </div>
    </div>
</div>
