<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-x-3">
            <h1 class="display-5">Form Layout</h1>
            <p class="lead">Forms are the primary place where users interact with an application to complete tasks; they allow a user to enter and read data.  For example, forms can be used to enter billing or product information when creating an order. Forms can contain Text Fields, Text Areas, Select Dropdowns, Radio Buttons, Checkboxes, File Uploads, Date Pickers, and other methods of input.</p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-x-3">
            <p>There are two types of forms and each has a designated purpose.</p>
            <ul>
                <li><strong>Transactional</strong> forms are used for both required and optional input and are intended to present all editable attributes of a single object. They are generaly used when creating or modifying objects like invoices, expenses, payments, etc.</li>
                <li><strong>Sequential</strong> Forms divide simple or complex tasks into a series of steps, with the goal of reducing the probability of user error and may be used to edit or create multiple objects with interdependencies.</li>
            </ul>
            <div class="h6 font-bold m-t-3">Transactional Form Example:</div>
            <div class="text-sm-center">
                <iframe src="views/layouts/layouts/form.html" class="b b-light pos-rlt m-b-3 m-t-2"  width="99%" height="600" style="border-box: border-box;"></iframe>
            </div>
            <div class="h6 font-bold m-t-2 m-b-1">Example Markup</div>
            <!--<pre class="code pre-scrollable p-a-1 b-a bg-light" ng-include src="'views/layouts/layouts/splitView.html'" maketext></pre>-->
        </section>
    </div>
</div>