<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-x-3">
            <h1 class="display-5">Login Layout</h1>
            <p class="lead">text</p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-x-3">
            <div class="h6 font-bold m-t-2 m-b-1">When to Use:</div>
            <ul>
                <li>text</li>
            </ul>
            <div class="h6 font-bold m-t-3">Dashboard Example:</div>
            <div class="text-sm-center">
                <iframe src="views/layouts/layouts/login.html" class="b b-2x b-light pos-rlt m-b-3  m-t-2"  width="100%" height="600" style="border-box: border-box;"></iframe>
            </div>
            <div class="text-sm-center text-muted m-b-3 text-sm">This is an example of how the login view might be used.</div>
            <div class="h6 font-bold m-t-2 m-b-1">Example Markup</div>
        </section>
    </div>
</div>