<div class="">
    <div class="jumbotron jumbotron-fluid">
        <div class="p-x-3">
            <h1 class="display-5">Master Detail Layout</h1>
            <p class="lead">A master-detail groups together two layout views in a one-to-many relationship. The information on the entire page displays one or more master objects and displays a detail object based on selection of a master. This is often expressed in a Split View consisting of two side-by-side panels: an item list and the selected item’s details but may also include a drilldown or a popup.</p>
        </div>
    </div>
    <div class="hbox stretch">
        <section class="p-x-3">
            <div class="h6 font-bold m-t-2 m-b-1">When to Use:</div>
            <ul>
                <li>When the user wants to quickly navigate and see details from item to item</li>
                <li>When there's a list of items with a lot of details to view or edit.</li>
                <li>When the user needs to interact with an object while it's master is "in context"</li>
                <li>When the user needs to explore a deeply nested tree, like a file system</li>
                <li>The screen is greater than 1024px, as master-details work best on large screens. Define the screens as two separate pages on smaller sizes.</li>
            </ul>
            <div class="h6 font-bold m-t-3">Master-Detail Example:</div>
            <div class="text-sm-center">
                <iframe src="views/layouts/layouts/masterDetail.html" class="b b-2x b-light pos-rlt m-b-3  m-t-2"  width="100%" height="600" style="border-box: border-box;"></iframe>
            </div>
            <div class="text-sm-center text-muted m-b-3 text-sm">This is an example of how the master detail view might be used.</div>
            <div class="h6 font-bold m-t-2 m-b-1">Example Markup</div>
        </section>
    </div>
</div>