<div class="row">
    <div class="col-sm-4">
        <div class="card card-default">
            <img class="card-img-top w-full bg-light dker" src="lib/images/image.png" alt="Card image cap">
            <div class="card-block">
                <h5 class="card-title font-bold">UX Design Team</h4>
                <h6 class="card-subtitle text-muted">Create in Sep 2014</h6>
            </div>
            <div class="card-footer">
                <i class="fa fa-users"></i> 3 members
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <h5 class="card-title font-bold">Mark Messenger</h4>
                <p class="card-text m-b-2">Mark Messenger is a ux designer from New Jersey.</p>
            </div>
            <div class="card-footer text-xs-center bg-light">
                <a href="javascript:void(0)" class="card-link">
                    <i class="fa fa-plus"></i> Connect
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-block">
                <span class="avatar avatar-sm bg-light dker pull-right">
                    <img class="img-fluid" src="lib/images/avatar_default.png" alt=""> 
                </span>
                <h5 class="card-title font-bold">Roger Walters</h4>
                <h6 class="card-subtitle text-muted">New Connetion</h6>
                <p class="card-text m-t-1">Roger requested permission to view your contact details</p>
            </div>
            <div class="card-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="Approval">
                    <a href="javascript:void(0)" class="btn btn-success-outline">Approve</a>
                    <a href="javascript:void(0)" class="btn btn-danger-outline">Decline</a>
                </div>
            </div>
        </div>
    </div>
</div>