<a href="javascript:void(0)" class="btn btn-w-sm m-b-xs">Base</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-default m-b-xs">Default</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-white m-b-xs">White</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-primary m-b-xs">Primary</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-secondary m-b-xs">Secondary</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-success m-b-xs">Success</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-info m-b-xs">Info</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-warning m-b-xs">Warning</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-danger m-b-xs">Danger</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-dark m-b-xs">Dark</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-black m-b-xs">Black</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-default disabled m-b-xs">Disabled</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-link m-b-xs">Link</a>

