<a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-search"></i> Search</a>
<a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-plus pull-right"></i> Add Record</a>
<a href="javascript:void(0)" class="btn btn-icon btn-default"><i class="fa fa-plus"></i></a> <a href="javascript:void(0)" class="btn btn-icon btn-default"><i class="fa fa-search"></i></a> <a href="javascript:void(0)" class="btn btn-icon btn-default"><i class="fa fa-times"></i></a>
<button class="btn btn-default btn-icon btn-xs rounded"><i class="fa fa-plus"></i></button>
<button class="btn btn-default btn-icon btn-sm rounded"><i class="fa fa-plus"></i></button>
<button class="btn btn-default btn-icon rounded"><i class="fa fa-plus"></i></button>
<button class="btn btn-default btn-icon btn-lg rounded"><i class="fa fa-plus"></i></button>
<button class="btn btn-default btn-icon btn-xl rounded"><i class="fa fa-plus"></i></button>
