<a href="javascript:void(0)" class="btn btn-default-outline btn-w-sm m-b-xs ">Default</a>
<a href="javascript:void(0)" class="btn btn-white-outline btn-w-sm m-b-xs ">White</a>
<a href="javascript:void(0)" class="btn btn-primary-outline btn-w-sm m-b-xs">Primary</a>
<a href="javascript:void(0)" class="btn btn-secondary-outline btn-w-sm m-b-xs ">Secondary</a>
<a href="javascript:void(0)" class="btn btn-success-outline btn-w-sm m-b-xs ">Success</a>
<a href="javascript:void(0)" class="btn btn-info-outline btn-w-sm m-b-xs ">Info</a>
<a href="javascript:void(0)" class="btn btn-warning-outline btn-w-sm m-b-xs ">Warning</a>
<a href="javascript:void(0)" class="btn btn-danger-outline btn-w-sm m-b-xs ">Danger</a>
<a href="javascript:void(0)" class="btn btn-dark-outline btn-w-sm m-b-xs ">Dark</a>
<a href="javascript:void(0)" class="btn btn-black-outline btn-w-sm m-b-xs">Black</a>
<a href="javascript:void(0)" class="btn btn-primary-outline btn-w-sm m-b-xs b-3x">Default</a>
<a href="javascript:void(0)" class="btn btn-default-outline btn-w-sm disabled m-b-xs">Disabled</a>
