<a href="javascript:void(0)" class="btn btn-w-sm m-b-xs rounded">Base</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-default m-b-xs rounded">Default</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-white m-b-xs rounded">White</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-primary m-b-xs rounded">Primary</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-secondary m-b-xs rounded">Secondary</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-success m-b-xs rounded">Success</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-info m-b-xs rounded">Info</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-warning m-b-xs rounded">Warning</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-danger m-b-xs rounded">Danger</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-dark m-b-xs rounded">Dark</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-black m-b-xs rounded">Black</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-default disabled m-b-xs rounded">Disabled</a>
<a href="javascript:void(0)" class="btn btn-w-sm btn-link m-b-xs rounded">Link</a>

