<div class="steps">
  <div class="active step">
    <i class="fa fa-fa fa-map-marker fa-2x step-icon"></i>
    <div class="step-body">
      <div class="step-title">Address</div>
      <div class="step-description text-muted">Choose your Address options</div>
    </div>
  </div>
  <div class="step">
    <i class="fa fa-credit-card fa-2x step-icon"></i>
    <div class="step-body">
      <div class="step-title">Payment</div>
      <div class="step-description text-muted">Enter Payment information</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="fa fa-flag-checkered fa-2x step-icon"></i>
    <div class="step-body">
      <div class="step-title">Complete</div>
    </div>
  </div>
</div>
