<div class="steps steps-fluid">
  <div class="step">
    <div class="step-body">
      <div class="step-title">One</div>
    </div>
  </div>
</div>

<div class="steps steps-fluid">
  <div class="active step">
    <div class="step-body">
      <div class="step-title">One</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Two</div>
    </div>
  </div>
</div>

<div class="steps steps-fluid">
  <div class="active step">
    <div class="step-body">
      <div class="step-title">One</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Two</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Three</div>
    </div>
  </div>
</div>

<div class="steps steps-fluid">
  <div class="active step">
    <div class="step-body">
      <div class="step-title">One</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Two</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Three</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Four</div>
    </div>
  </div>
</div>

<div class="steps steps-fluid">
  <div class="active step">
    <div class="step-body">
      <div class="step-title">One</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Two</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Three</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Four</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Five</div>
    </div>
  </div>
</div>

<div class="steps steps-fluid">
  <div class="active step">
    <div class="step-body">
      <div class="step-title">One</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Two</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Three</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Four</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Five</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Six</div>
    </div>
  </div>
</div>

<div class="steps steps-fluid">
  <div class="active step">
    <div class="step-body">
      <div class="step-title">One</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Two</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Three</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Four</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Five</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Six</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Seven</div>
    </div>
  </div>
</div>

<div class="steps steps-fluid">
  <div class="active step">
    <div class="step-body">
      <div class="step-title">One</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Two</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Three</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Four</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Five</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Six</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Seven</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Eight</div>
    </div>
  </div>
</div>
