<div class="steps">
  <div class="active step">
    <i class="fa fa-fa fa-map-marker fa-lg step-icon"></i>
    <div class="step-body">
      <div class="step-title">Address</div>
    </div>
  </div>
  <div class="step">
    <i class="fa fa-credit-card fa-lg step-icon"></i>
    <div class="step-body">
      <div class="step-title">Payment</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="fa fa-flag-checkered fa-lg step-icon"></i>
    <div class="step-body">
      <div class="step-title">Complete</div>
    </div>
  </div>
</div>
