<div class="steps-numbered steps">
  <div class="complete step">
    <div class="step-body">
      <div class="step-title">Address</div>
      <div class="step-description text-muted">Choose your Address options</div>
    </div>
  </div>
  <div class="step active">
    <div class="step-body">
      <div class="step-title">Payment</div>
      <div class="step-description text-muted">Enter Payment information</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Complete</div>
      <div class="step-description text-muted">Verify order details</div>
    </div>
  </div>
</div>
