<div class="steps steps-sm steps-fluid">
  <div class="active step">
    <div class="step-body">
      <div class="step-title">Address</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Payment</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Complete</div>
    </div>
  </div>
</div>

<div class="steps steps-fluid">
  <div class="active step">
    <div class="step-body">
      <div class="step-title">Address</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Payment</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Complete</div>
    </div>
  </div>
</div>

<div class="steps steps-lg steps-fluid">
  <div class="active step">
    <div class="step-body">
      <div class="step-title">Address</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Payment</div>
    </div>
  </div>
  <div class="step">
    <div class="step-body">
      <div class="step-title">Complete</div>
    </div>
  </div>
</div>
