<div class="activity">
    <div class="media ">
        <div class="media-left"> <span class="fa-stack fa-lg bg-white"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-list fa-stack-1x fa-inverse"></i> </span> </div>
        <div class="media-body">
            <h6 class="media-heading m-t-xs text-md l-h font-lg"> <a href="javascript:void(0)" class="font-bold">Madison Boyd</a> added a list <a href="javascript:void(0)">Review Items for Completion</a> </h6>
            <div class="text-sm text-muted m-t-xs">Feb 24, 2016 at 11:00 PM</div>
        </div>
        <div class="media-right">
            <div class="btn-group" role="group">
                <a href="javascript:void(0)" class="btn btn-secondary btn-sm btn-icon dropdown-toggle" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right" data-container="body"> <a class="dropdown-item" href="javascript:void(0)">Comment</a> <a class="dropdown-item" href="javascript:void(0)">Delete</a> </div>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left"> <span class="fa-stack fa-lg text-info bg-white"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-comment-o fa-stack-1x fa-inverse"></i> </span> </div>
        <div class="media-body">
            <h6 class="media-heading m-t-xs text-md l-h"> <a href="javascript:void(0)" class="font-bold">Rose Moreno</a> commented on <a href="javascript:void(0)">application234245.pdf</a> </h6>
            <div class="">Customer update the application. Still awaiting final changes and seems interested in closing on the property very soon</div>
            <div class="text-sm text-muted m-t-xs">Feb 24, 2016 at 11:00 PM</div>
        </div>
        <div class="media-right">
            <div class="btn-group" role="group">
                <a href="javascript:void(0)" class="btn btn-secondary btn-sm btn-icon dropdown-toggle" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right" data-container="body"> <a class="dropdown-item" href="javascript:void(0)">Comment</a> <a class="dropdown-item" href="javascript:void(0)">Delete</a> </div>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left"> <span class="fa-stack fa-lg text-warning bg-white"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i> </span> </div>
        <div class="media-body">
            <h6 class="media-heading m-t-xs text-md l-h"> <a href="javascript:void(0)" class="font-bold">Austin Foster</a> changed the status of <a href="javascript:void(0)">Residential Mortgage 23423</a> to <strong>Review</strong> </h6>
            <div class="text-sm text-muted m-t-xs">Feb 24, 2016 at 11:00 PM</div>
        </div>
        <div class="media-right">
            <div class="btn-group" role="group">
                <a href="javascript:void(0)" class="btn btn-secondary btn-sm btn-icon dropdown-toggle" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right" data-container="body"> <a class="dropdown-item" href="javascript:void(0)">Comment</a> <a class="dropdown-item" href="javascript:void(0)">Delete</a> </div>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left"> <span class="fa-stack fa-lg text-success bg-white"> <i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i> </span> </div>
        <div class="media-body">
            <h6 class="media-heading m-t-xs text-md l-h"> <a href="javascript:void(0)" class="font-bold">Deborah Schmidt</a> sent an email to <a href="javascript:void(0)">kduncan@homecompany.com</a> </h6>
            <div class="text-sm text-muted m-t-xs">Feb 24, 2016 at 11:00 PM</div>
        </div>
        <div class="media-right">
            <div class="btn-group" role="group">
                <a href="javascript:void(0)" class="btn btn-secondary btn-sm btn-icon dropdown-toggle" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right" data-container="body"> <a class="dropdown-item" href="javascript:void(0)">Comment</a> <a class="dropdown-item" href="javascript:void(0)">Delete</a> </div>
            </div>
        </div>
    </div>
</div>
