<div class="bg-light b-b p-a-2">
    <div class="btn-group pull-sm-right m-b-1">
        <a href="javascript:void(0)" class="btn btn-default">Refresh</a>
        <a href="javascript:void(0)" class="btn btn-default">Edit</a>
        <div class="btn-group" role="group">
            <a href="javascript:void(0)" class="btn btn-default btn-icon dropdown-toggle" data-toggle="dropdown"></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)">Action</a>
                <a class="dropdown-item" href="javascript:void(0)">Action</a>
            </div>
        </div>
    </div>
    <div class="media m-a-0">
        <div class="media-body">
            <div class="text-muted text-u-c ">Dashboard</div>
            <h3 class="media-heading">Dashboard Title</h3>
            <div class="text-muted text-sm m-t-sm">Short description of the dashboard | Last Updated: Yesterday at 8:47 AM</div>
        </div>
    </div>
</div>