<div class="bg-light p-a-2">
    <div class="btn-group pull-sm-right m-b-1">
        <a href="javascript:void(0)" class="btn btn-default">Edit</a>
        <a href="javascript:void(0)" class="btn btn-default">Delete</a>
        <div class="btn-group" role="group">
            <a href="javascript:void(0)" class="btn btn-default btn-icon dropdown-toggle" data-toggle="dropdown"></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)">Action</a>
                <a class="dropdown-item" href="javascript:void(0)">Action</a>
            </div>
        </div>
    </div>
    <div class="media m-a-0">
        <a href="javascript:void(0)" class="m-b-xs text-sm inline"><i class="fa fa-angle-left"></i> Back to Contacts</a>
        <div class="media-left">
            <span class="avatar img-circle bg-light dker b b-white">
                <img class="img-fluid" src="lib/images/avatar_default.png" alt="">
            </span>
        </div>
        <div class="media-body">
            <div class="text-muted text-u-c">Contact</div>
            <h3 class="media-heading">Herman Richards</h3>
        </div>
    </div>
    <div class="row m-t-1 padder-h collapse in" id="profileHeader">
        <div class="col-sm-2 ">
            <div class="text-muted text-sm">COMPANY</div>
            <p class="text-ellipsis text-dark">Voltro, Inc.</p>
        </div>
        <div class="col-sm-2 ">
            <div class="text-muted text-sm">PHONE</div>
            <p class="text-ellipsis text-dark">(678) 114-7896</p>
        </div>
        <div class="col-sm-3 ">
            <div class="text-muted text-sm">EMAIL</div>
            <p class="text-ellipsis text-dark"><a href="mailto:hrichards@progress.com?Subject=Hello%20again">hrichards@progress.com </a></p>
        </div>
        <div class="col-sm-5 ">
            <div class="text-muted text-sm">Address</div>
            <address class="text-dark">123 Main Street<br>
                Stone Mountain, GA 30083, USA </address>
        </div>
    </div>
</div>
<div class="text-xs-center">
    <span class="bg-light inline" data-toggle="collapse" data-target="#profileHeader">
        <button class="btn btn-link btn-sm bg-empty padder-h l-h-1x" data-toggle="button" aria-pressed="false">
            <i class="fa fa-angle-down text-active"></i>
            <i class="fa fa-angle-up text"></i>
        </button>
    </span>
</div>

<div class="bg-light p-a-2 m-t-1">
    <div class="media m-a-0">
        <a href="javascript:void(0)" class="m-b-xs text-sm inline"><i class="fa fa-angle-left"></i> Back to Invoices</a>
        <div class="media-left">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="media-body">
            <div class="text-muted text-u-c">Invoice</div>
            <h3 class="media-heading">#12345622</h3>
        </div>
        <div class="media-right text-sm-right">
            <div class="text-muted text-sm">BALANCE</div>
            <p class="text-ellipsis text-dark h3">$362.07</p>
        </div>
    </div>
    <div class="row m-t-1 padder-h collapse in" id="invoiceHeader">
        <div class="col-sm-3 ">
            <div class="text-muted text-sm">COMPANY</div>
            <p class="text-ellipsis text-dark">Voltro, Inc.</p>
        </div>
        <div class="col-sm-3 ">
            <div class="text-muted text-sm">INVOICE DATE</div>
            <p class="text-ellipsis text-dark">01/01/2016</p>
        </div>
        <div class="col-sm-3 ">
            <div class="text-muted text-sm">DUE DATE</div>
            <p class="text-ellipsis text-dark">01/31/2016</p>
        </div>
        <div class="col-sm-3">
            <div class="text-muted text-sm">BILLING ADDRESS</div>
            <address class="text-dark">700 Main St. Suite 600<br> 
                San Francisco, CA 94107 </address>
        </div>
    </div>
</div>
<div class="text-xs-center">
    <span class="bg-light inline" data-toggle="collapse" data-target="#invoiceHeader">
        <button class="btn btn-link btn-sm bg-empty padder-h l-h-1x" data-toggle="button" aria-pressed="false">
            <i class="fa fa-angle-down text-active"></i>
            <i class="fa fa-angle-up text"></i>
        </button>
    </span>
</div>