<div class="bg-light b-b p-a-2">
    <div class="media m-a-0">
        <div class="media-left">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                <i class="fa fa-cube fa-stack-1x fa-inverse"></i>
            </span>
        </div>
        <div class="media-body">
            <h3 class="media-heading">Create Object Title</h3>
            <p class="m-t-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In est mauris, commodo at molestie id, malesuada non tortor. </p>
            <p class="hide" id="moreless">Proin pellentesque posuere luctus. Sed commodo, eros ut porta pulvinar, nisi ipsum fermentum arcu, non mattis tellus lacus nec sapien. Donec vel congue ex. Nam ultricies sit amet ipsum non feugiat. Aliquam vulputate maximus augue in blandit. In hac habitasse platea dictumst. </p>
            <button href="#moreless" class="btn btn-sm btn-default" data-toggle="class:show">
                <i class="fa fa-plus text"></i>
                <span class="text">More</span>
                <i class="fa fa-minus text-active"></i>
                <span class="text-active">Less</span>
            </button>
        </div>
    </div>
</div>