<div class="bg-light b-b p-a-2">
    <div class="row">
        <div class="col-sm-6">
            <img src="lib/images/logo_dark.png" width="180" >
        </div>
        <div class="col-sm-6 text-xs-right">
            <h5><span class="font-bold">Invoice # </span><a href="javascript:void(0)">123-456-22</a></h5>
            Feb 3, 2016
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <span class="font-bold">Ship To: ABC, Inc</span>
            <br>
            700 Main St., Suite 600
            <br>
            San Francisco, CA 94107
            <br>
            P: (123) 456-7890
        </div>
        <div class="col-sm-4">
            <span class="font-bold">Bill To: ABC, Inc</span>
            <br>
            700 Main St., Suite 600
            <br>
            San Francisco, CA 94107
            <br>
            P: (123) 456-7890
        </div>
        <div class="col-sm-4 text-xs-right">
             <div class="row m-b">
                <div class="col-sm-7"><span class="font-bold">Order Status: </span></div>
                <div class="col-sm-5"><span class="label label-warning"> Pending </span></div>
            </div>
            <div class="row">
                <div class="col-sm-7"><span class="font-bold">Order Date: </span></div>
                <div class="col-sm-5">Jan 30, 2016</div>
            </div>
            <div class="row">
                <div class="col-sm-7"><span class="font-bold">Order Number: </span></div>
                <div class="col-sm-5"><a href="javascript:void(0)">2234-22</a></div>
            </div>
        </div>
    </div>
</div>
