<div class="bg-light b-b p-a-2">
    <div class="btn-group pull-sm-right m-b-1">
        <a href="javascript:void(0)" class="btn btn-default">New Record</a>
        <div class="btn-group" role="group">
            <a href="javascript:void(0)" class="btn btn-default btn-icon dropdown-toggle" data-toggle="dropdown"></a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="javascript:void(0)">Action</a>
                <a class="dropdown-item" href="javascript:void(0)">Action</a>
            </div>
        </div>
    </div>
    <div class="btn-group pull-sm-right m-b-1 m-r-xs">
        <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-print"></i></a>
        <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-download"></i></a>
    </div>
    <div class="btn-group pull-sm-right m-b-1 m-r-xs" data-toggle="buttons">
        <a href="javascript:void(0)" class="btn btn-default active">
            <input type="radio" name="options" id="option2">
            <i class="fa fa-th-large"></i>
        </a>
        <a href="javascript:void(0)" class="btn btn-default">
            <input type="radio" name="options" id="option1">
            <i class="fa fa-list"></i>
        </a>
    </div>
    <div class="media m-a-0 overflow-v">
        <div class="media-body overflow-v">
            <div class="text-muted text-u-c">Module Title</div>
            <h3 class="media-heading " >
                <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
                    <span class="dropdown-label">My Module List</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-select">
                    <li class="dropdown-item active">
                        <a href="javascript:void(0)" class="active">
                        <input type="radio" name="d-s-r" checked="">My Module List</a>
                    </li>
                    <li class="dropdown-item" >
                        <a href="javascript:void(0)">
                            <input type="radio" name="d-s-r">Another List</a>
                    </li>
                    <li class="dropdown-item disabled" >
                        <a href="javascript:void(0)">
                            <input type="radio" name="d-s-r" disabled="">Disabled List</a>
                    </li>
                </ul>
            </h3>
            <div class="text-muted text-sm m-t-sm">Short description of the module</div>
        </div>
    </div>
</div>