<div class="p-a-1">
    <div class="row bg-light lt r-t wrapper">
        <div class="col-sm-2">
            <span class="avatar avatar-sm img-circle ">
                <img class="img-fluid" src="lib/images/avatar_default.jpg" alt="">
            </span>
        </div>
        <div class="col-sm-10">
            <div class=" pull-sm-right m-b-1 m-r-xs">
                <a href="javascript:void(0)" class="btn btn-icon btn-default"><i class="fa fa-edit"></i></a>
                <a href="javascript:void(0)" class="btn btn-icon btn-default"><i class="fa fa-trash"></i></a>
            </div>
            <h4>Herman Richards</h4>
            Designer
            <p>
            <br>
            <i class="fa fa-map-marker"> </i> Stone Mountain, GA 30083, United States
            <br>
            <i class="fa fa-envelope"> </i> hrichards@progress.com
             <br>
            <i class="fa fa-phone"> </i> (678) 114 - 7896
            </p>
        </div>
    </div>
    <div class="row text-xs-center bg-light dk r-b">
       <div class="col-xs-4 wrapper">
            <a href="javascript:void(0)" class="text-primary h3">8</a>
            <div>Projects</div>
        </div>
       <div class="col-xs-4 wrapper">
            <a href="javascript:void(0)" class="text-primary h3">25</a>
            <div>Tasks</div>
        </div>
       <div class="col-xs-4 wrapper">
            <a href="javascript:void(0)" class="text-primary h3">5</a>
            <div>To Do</div>
        </div>
    </div>
</div>
