<div class="bg-light b-b p-a-2">
    <div class="media m-a-0">
        <div class="media-body">
            <h3 class="media-heading">Search Results</h3>
            <div class="text-muted text-sm m-t-sm">Found 1,370 result (0.13 seconds)</div>
            <div class="row m-t-1">
                <div class="col-sm-12">
                    <div class="input-group">

                        <!--Begin make height of search field exact -->
                        <input type="text" class="form-control rounded" placeholder=" Search" value="Keyword Term">
                        <!--End make height of search field exact -->

                        <span class="input-group-btn">
                            <button class="btn btn-default rounded">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>