<p>
    <button href="#moreless" class="btn btn-sm btn-default" data-toggle="class:show">
        <i class="fa fa-plus text"></i>
        <span class="text">More</span>
        <i class="fa fa-minus text-active"></i>
        <span class="text-active">Less</span>
    </button>
</p>
<p>
    <button class="btn btn-default" id="btn-1" href="#btn-1" data-toggle="class:btn-success">
        <i class="fa fa-cloud-upload text"></i>
        <span class="text">Upload</span>
        <i class="fa fa-check text-active"></i>
        <span class="text-active">Success</span>
    </button>
    <button class="btn btn-default" data-toggle="button">
        <i class="fa fa-heart-o text"></i>
        <i class="fa fa-heart text-active text-danger"></i>
    </button>
    <button class="btn btn-default" data-toggle="button">
        <span class="text">
                <i class="fa fa-thumbs-up text-success"></i> 25
              </span>
        <span class="text-active">
                <i class="fa fa-thumbs-down text-danger"></i> 10
              </span>
    </button>
    <button class="btn btn-success" data-toggle="class:show inline" data-target="#spin" data-loading-text="Saving...">Save</button> <i class="fa fa-spin fa-spinner hide" id="spin"></i>
</p>
<p>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-sm btn-info active">
            <input type="radio" name="options" id="option1"><i class="fa fa-check text-active"></i> Male
        </label>
        <label class="btn btn-sm btn-success">
            <input type="radio" name="options" id="option2"><i class="fa fa-check text-active"></i> Female
        </label>
        <label class="btn btn-sm btn-primary">
            <input type="radio" name="options" id="option3"><i class="fa fa-check text-active"></i> N/A
        </label>
    </div>
</p>
<p>
    <fieldset class="rating m-t-xs">
      <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!"></label>
      <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good"></label>
      <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh"></label>
      <input type="radio" id="star2" name="rating" value="2" checked="checked"/><label for="star2" title="Kinda bad"></label>
      <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time"></label>
    </fieldset>  
</p>
<div style="clear: both;"></div>