<div class="btn-group dropup">
    <button data-toggle="dropdown" class="btn btn-sm btn-default dropdown-toggle">
        <span class="dropdown-label">Option1</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-select">
        <li class="dropdown-item active">
            <a href="javascript:void(0)" class="active">
            <input type="radio" name="d-s-r" checked="">Option1</a>
        </li>
        <li class="dropdown-item" >
            <a href="javascript:void(0)">
                <input type="radio" name="d-s-r">Option2</a>
        </li>
        <li class="dropdown-item" >
            <a href="javascript:void(0)">
                <input type="radio" name="d-s-r">Option3</a>
        </li>
        <li class="dropdown-item disabled" >
            <a href="javascript:void(0)">
                <input type="radio" name="d-s-r" disabled="">I'm disabled</a>
        </li>
    </ul>
</div>
