
<script type="text/javascript" > 
    (function($, undefined) {

        var kendo = window.kendo,
            ui = kendo.ui,
            Widget = ui.Widget,
            NS = 'step',
            CONTENT = 'steps-container',
            CHANGE = 'change',
            CLICK = 'click',
            ACTIVESTATE = 'active', 

        _active = 1;

        var Steps = Widget.extend({

            init: function(element, options) {
                var that = this;
                        //content = that.contentHolder(selectedItems.index());

                // Initializes the widget calls a template and a datasource
                kendo.ui.Widget.fn.init.call(that, element, options);
                that.template = kendo.template(that.options.template || '<div class="step" data-step="#= data.value #" ><i class="#= data.iconClass # step-icon"></i><div class="step-body"><div class="step-title">#= data.text #</div><div class="step-description text-muted">#= data.description #</div></div></div>');
                
                that._dataSource();
                that._create();
                
                // Events
                that.wrapper.find('.btn-next').on('click', function(e){
                    that.next(e);

                })

                that.wrapper.find('.btn-prev').on('click', function(e){
                    that.previous(e);
                })

            },
            options: {
                name: "Steps",
                autoBind: true,
                template: ""
            },
            _wrapper: function () {
                var that = this;
                    that.wrapper = that.element.closest('.steps-container');

            },
            _create: function () {
                var that = this;
                that._wrapper();

                that.wrapper.find('.step:first-child').addClass('active')
                that.wrapper.find('.btn-prev').addClass('disabled')

            },
            _total: function() {
                var that = this;
                    totalSteps = that.wrapper.find('.step').length
                
                return totalSteps
            },
            _active: function(selectedItem) {
                var that = this;
                    activeStep = that.wrapper.find('.step.active').data("step")

                return activeStep;
            },
            next: function(e) {
                var that = this;
                    currentStep = that._active()
                    totalSteps = that._total()
                
                that.element.trigger(e, {
                    step: currentStep,
                    direction: 'next'
                });

                if (currentStep < totalSteps) {
                    currentStep = currentStep + 1
                    
                    that.setState(currentStep)
                } 

                if (currentStep == totalSteps) { 
                    that.wrapper.find('.btn-next').addClass('disabled')
                }

            },
            previous: function(e) {
                var that = this;
                    currentStep = that._active()
                    totalSteps = that._total()
                
                that.element.trigger(e, {
                    step: currentStep,
                    direction: 'previous'
                });

                if (currentStep > 1) {
                    currentStep = currentStep - 1
                    that.setState(currentStep)
                } 

                if (currentStep == 1) { 
                    that.wrapper.find('.btn-prev').addClass('disabled')
                }

            },
            setState: function(step) {
                var that = this;
                    $steps = that.wrapper.find('.step')
                    $nextBtn = that.wrapper.find('.btn-next')
                    $prevBtn = that.wrapper.find('.btn-prev')
                    $stepContent = that.wrapper.find('.steps-content');
                
                that.wrapper.find('.step').removeClass('active')
                that.wrapper.find('.step').each(function() {
                	console.log(this)
                	console.log(currentStep)
                	if (parseInt($( this ).attr("data-step")) < currentStep) {
                		$( this ).addClass('complete')
                	}
                })
                that.wrapper.find('.step[data-step="' + step +'"]').addClass('active')

                $stepContent.find('.step-pane').removeClass('active')
                $stepContent.find('.step-pane[data-step="' + step +'"]').addClass('active')

                if (currentStep == 1) { 
                    $nextBtn.removeClass('disabled')
                    $prevBtn.addClass('disabled')
                }

                if (currentStep > 1 && currentStep < totalSteps) {
                    $nextBtn.removeClass('disabled')
                    $prevBtn.removeClass('disabled')
                } 

                if (currentStep == totalSteps) { 
                    $nextBtn.addClass('disabled')
                    $prevBtn.removeClass('disabled')
                }

            },
            refresh: function() {
                var that = this,
                    view = that.dataSource.view(),
                    html = kendo.render(that.template, view);
                
                that.element.html(html);
            },
            _dataSource: function() {
                var that = this;

                that.dataSource = kendo.data.DataSource.create(that.options.dataSource).bind(CHANGE, function() {
                    that.refresh();
                });

                if (that.options.autoBind) {
                    that.dataSource.fetch();
                }
            }
        });

        ui.plugin(Steps);

    })(jQuery);
</script>

<div class="steps-container">
    <div id="steps" class="steps steps-fluid steps-top"></div>
    <div class="steps-content b-a p-a-2">
        <div class="step-pane active" data-step="1">
            <h4 class="">Address Information</h4>
			<div class="row form-group">
				<div class="col-sm-4 col-xs-12">
					<label class="form-control-label" for="userName">User name *</label>	
				</div>
				<div class="col-sm-8 col-xs-12">
					<input class="form-control required" id="userName" name="userName" type="text">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-4 col-xs-12">
					<label class="form-control-label" for="password">Password *</label>	
				</div>
				<div class="col-sm-8  col-xs-12">
					<input class="form-control required" id="password" name="password" type="text">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-4 col-xs-12">
					<label class="form-control-label" for="confirmPassword">Confirm Password *</label>	
				</div>
				<div class="col-sm-8  col-xs-12">
					<input class="form-control required" id="confirmPassword" name="confirmPassword" type="text">
				</div>
			</div>
        </div>
        <div class="step-pane" data-step="2">
            <h4 class="">Payment Information</h4>
			<div class="row form-group">
				<div class="col-sm-4 col-xs-12">
					<label class="form-control-label" for="firstName">First name *</label>	
				</div>
				<div class="col-sm-8 col-xs-12">
					<input class="form-control required" id="firstName" name="firstName" type="text">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-4 col-xs-12">
					<label class="form-control-label" for="lastName">Last name *</label>	
				</div>
				<div class="col-sm-8  col-xs-12">
					<input class="form-control required" id="lastName" name="lastName" type="text">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-4 col-xs-12">
					<label class="form-control-label" for="email">Email *</label>	
				</div>
				<div class="col-sm-8  col-xs-12">
					<input class="form-control required" id="email" name="email" type="text">
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-4 col-xs-12">
					<label class="form-control-label" for="confirmPassword">Address</label>	
				</div>
				<div class="col-sm-8  col-xs-12">
					<input class="form-control required" id="confirmPassword" name="confirmPassword" type="text">
				</div>
			</div>
        </div>
        <div class="step-pane" data-step="3">
			<h1 class="text-xs-center">
				<div class="h2 m-b">
                    <span class="fa-stack text-success">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
				Thank you for signing up.
			</h1>
        </div>
    </div>
    <div class="text-xs-right p-a-1 b-a bg-light">
        <button type="button" class="btn btn-default btn-prev">Prev</button>
        <button type="button" class="btn btn-primary btn-next" data-last="Complete">Next</button>
    </div>
</div>
<script type="text/javascript">

    var dataSource = new kendo.data.DataSource({
        data: [
            { text: "Address", description: "Choose your Address options", iconClass: "fa fa-map-marker fa-2x", value: "1" },
            { text: "Payment", description: "Enter Payment information", iconClass: "fa fa-credit-card fa-2x", value: "2" },
            { text: "Complete", description: "Verify order details", iconClass: "fa fa-flag-checkered fa-2x", value: "3" }
         ]
    });

    $("#steps").kendoSteps({
        dataSource: dataSource,
    });

    //console.log($('#steps').kendoSteps().data("kendoSteps"));

</script>
