
<div class="row">
	<div class="col-xs-12">
		<div class="steps steps-primary required data-initialize="steps" id="mySteps"">
			<div class="steps-container text-xs-center">
				<div data-step="1" class="step complete">
					<span class="step-number">
						<span class="text">1</span>
						<i class="fa fa-check icon"></i>
					</span>
					<span class="step-title hidden-xs-down">Account Information</span>
					<span class="step-arrow"></span>
				</div>
				<div data-step="2" class="step active">
					<span class="step-number">
						<span class="text">2</span>
						<i class="fa fa-check icon"></i>
					</span>
					<span class="step-title hidden-xs-down">Profile Information</span>
					<span class="step-arrow"></span>
				</div>
				<div data-step="3" class="step disabled">
					<span class="step-number">
						<span class="text">3</span>
						<i class="fa fa-check icon"></i>
					</span>
					<span class="step-title hidden-xs-down">Confirmation</span>
					<span class="step-arrow"></span>
				</div>
			</div>
			<div class="step-content">
				<div class="step-pane active" data-step="1">
					<h4 class="hidden-sm-up">Account Information</h4>
						<div class="row form-group">
							<div class="col-sm-4 col-xs-12">
								<label class="form-control-label" for="userName">User name *</label>	
							</div>
							<div class="col-sm-8 col-xs-12">
								<input class="form-control required" id="userName" name="userName" type="text">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-4 col-xs-12">
								<label class="form-control-label" for="password">Password *</label>	
							</div>
							<div class="col-sm-8  col-xs-12">
								<input class="form-control required" id="password" name="password" type="text">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-4 col-xs-12">
								<label class="form-control-label" for="confirmPassword">Confirm Password *</label>	
							</div>
							<div class="col-sm-8  col-xs-12">
								<input class="form-control required" id="confirmPassword" name="confirmPassword" type="text">
							</div>
						</div>
				</div>
				<div class="step-pane" data-step="2">
					<h4 class="hidden-sm-up">Profile Information</h4>
						<div class="row form-group">
							<div class="col-sm-4 col-xs-12">
								<label class="form-control-label" for="firstName">First name *</label>	
							</div>
							<div class="col-sm-8 col-xs-12">
								<input class="form-control required" id="firstName" name="firstName" type="text">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-4 col-xs-12">
								<label class="form-control-label" for="lastName">Last name *</label>	
							</div>
							<div class="col-sm-8  col-xs-12">
								<input class="form-control required" id="lastName" name="lastName" type="text">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-4 col-xs-12">
								<label class="form-control-label" for="email">Email *</label>	
							</div>
							<div class="col-sm-8  col-xs-12">
								<input class="form-control required" id="email" name="email" type="text">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-sm-4 col-xs-12">
								<label class="form-control-label" for="confirmPassword">Address</label>	
							</div>
							<div class="col-sm-8  col-xs-12">
								<input class="form-control required" id="confirmPassword" name="confirmPassword" type="text">
							</div>
						</div>
				</div>
				<div class="step-pane" data-step="3">
					<h4 class="hidden-sm-up">Confirmation</h4>
						<h1 class="text-xs-center">
							<div class="h2 m-b">
			                    <span class="fa-stack text-success">
			                        <i class="fa fa-circle fa-stack-2x"></i>
			                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
			                    </span>
			                </div>
							Thank you for signing up.
						</h1>
				</div>
				<div class="row m-t">
					<div class="col-xs-12">
						<button type="button" class="btn btn-primary btn-next pull-right" data-last="Complete">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
						<button type="button" class="btn btn-default btn-prev pull-right m-r"><span class="glyphicon glyphicon-arrow-left"></span>Previous</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
