<div class="row m-b-1">
    <div class="col-sm-12">
        <div class="p-a-1 bg-light">
            col-sm-12
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-11">
        <div class="p-a-1 bg-light">
            col-sm-11
        </div>
    </div>
    <div class="col-sm-1">
        <div class="p-a-1 bg-light">
            col-sm-1
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-10">
        <div class="p-a-1 bg-light">
            col-sm-10
        </div>
    </div>
    <div class="col-sm-2">
        <div class="p-a-1 bg-light">
            col-sm-2
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-9">
        <div class="p-a-1 bg-light">
            col-sm-9
        </div>
    </div>
    <div class="col-sm-3">
        <div class="p-a-1 bg-light">
            col-sm-3
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-8">
        <div class="p-a-1 bg-light">
            col-sm-8
        </div>
    </div>
    <div class="col-sm-4">
        <div class="p-a-1 bg-light">
            col-sm-4
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-7">
        <div class="p-a-1 bg-light">
            col-sm-7
        </div>
    </div>
    <div class="col-sm-5">
        <div class="p-a-1 bg-light">
            col-sm-5
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-6">
        <div class="p-a-1 bg-light">
            col-sm-6
        </div>
    </div>
    <div class="col-sm-6">
        <div class="p-a-1 bg-light">
            col-sm-6
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-5">
        <div class="p-a-1 bg-light">
            col-sm-5
        </div>
    </div>
    <div class="col-sm-7">
        <div class="p-a-1 bg-light">
            col-sm-7
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-4">
        <div class="p-a-1 bg-light">
            col-sm-4
        </div>
    </div>
    <div class="col-sm-8">
        <div class="p-a-1 bg-light">
            col-sm-8
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-3">
        <div class="p-a-1 bg-light">
            col-sm-3
        </div>
    </div>
    <div class="col-sm-9">
        <div class="p-a-1 bg-light">
            col-sm-9
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-2">
        <div class="p-a-1 bg-light">
            col-sm-2
        </div>
    </div>
    <div class="col-sm-10">
        <div class="p-a-1 bg-light">
            col-sm-10
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-1">
        <div class="p-a-1 bg-light">
            col-sm-1
        </div>
    </div>
    <div class="col-sm-11">
        <div class="p-a-1 bg-light">
            col-sm-11
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-2">
        <div class="p-a-1 bg-light">
            col-sm-2
        </div>
    </div>
    <div class="col-sm-3">
        <div class="p-a-1 bg-light">
            col-sm-3
        </div>
    </div>
    <div class="col-sm-4">
        <div class="p-a-1 bg-light">
            col-sm-4
        </div>
    </div>
    <div class="col-sm-2">
        <div class="p-a-1 bg-light">
            col-sm-2
        </div>
    </div>
    <div class="col-sm-1">
        <div class="p-a-1 bg-light">
            col-sm-1
        </div>
    </div>
</div>