<div class="row m-b-1">
    <div class="col-sm-1-5">
        <div class="p-a-1 bg-light">
            col-sm-1-5
        </div>
    </div>
    <div class="col-sm-1-5">
        <div class="p-a-1 bg-light">
            col-sm-1-5
        </div>
    </div>
    <div class="col-sm-1-5">
        <div class="p-a-1 bg-light">
            col-sm-1-5
        </div>
    </div>
    <div class="col-sm-1-5">
        <div class="p-a-1 bg-light">
            col-sm-1-5
        </div>
    </div>
    <div class="col-sm-1-5">
        <div class="p-a-1 bg-light">
            col-sm-1-5
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-1-5">
        <div class="p-a-1 bg-light">
            col-sm-1-5
        </div>
    </div>
    <div class="col-sm-4-5">
        <div class="p-a-1 bg-light">
            col-sm-4-5
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-2-5">
        <div class="p-a-1 bg-light">
            col-sm-2-5
        </div>
    </div>
    <div class="col-sm-3-5">
        <div class="p-a-1 bg-light">
            col-sm-3-5
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-3-5">
        <div class="p-a-1 bg-light">
            col-sm-3-5
        </div>
    </div>
    <div class="col-sm-2-5">
        <div class="p-a-1 bg-light">
            col-sm-2-5
        </div>
    </div>
</div>
<div class="row m-b-1">
    <div class="col-sm-4-5">
        <div class="p-a-1 bg-light">
            col-sm-4-5
        </div>
    </div>
    <div class="col-sm-1-5">
        <div class="p-a-1 bg-light">
            col-sm-1-5
        </div>
    </div>
</div>
