<span class="avatar avatar-lg img-circle bg-light dker">
	<span class="avatar-text ">MM</span>
</span>
<span class="avatar avatar-md img-circle bg-light dker">
	<span class="avatar-text ">MM</span>
</span>
<span class="avatar img-circle bg-light dker">
	<span class="avatar-text ">MM</span>
</span>
<span class="avatar avatar-sm img-circle bg-light dker">
	<span class="avatar-text ">MM</span>
</span>
<span class="avatar avatar-xs img-circle bg-light dker">
	<span class="avatar-text ">MM</span>
</span>
