<span class="avatar avatar-lg img-circle bg-light dker m-r m-b">
	<img class="img-fluid" src="lib/images/avatar.jpg" alt="">
</span>
<span class="avatar avatar-lg img-circle bg-light dker m-r m-b">
	<span class="avatar-text ">MM</span>
</span>
<span class="avatar avatar-lg img-circle bg-light dker m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default.png" alt="">
</span>
<span class="avatar avatar-lg img-circle bg-light dker m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default_female.png" alt="">
	<i class="on b-white bottom right"></i> 
</span>