<span class="avatar img-circle bg-light dker m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default_female.png" alt="">
	<i class="on b-white "></i> 
</span>
<span class="avatar img-circle bg-light dker m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default_female.png" alt="">
	<i class="on b-white top right"></i> 
</span>
<span class="avatar img-circle bg-light dker m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default_female.png" alt="">
	<i class="on b-white bottom"></i> 
</span>
<span class="avatar img-circle bg-light dker m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default_female.png" alt="">
	<i class="on b-white bottom right"></i> 
</span>
