<span class="avatar img-circle bg-primary m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default.png" alt="">
</span>
<span class="avatar img-circle bg-success m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default.png" alt="">
</span>
<span class="avatar img-circle bg-info m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default.png" alt="">
</span>
<span class="avatar img-circle bg-danger m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default.png" alt="">
</span>
<span class="avatar img-circle bg-warning m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default.png" alt="">
</span>
<span class="avatar img-circle bg-light m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default.png" alt="">
</span>
<span class="avatar img-circle bg-dark m-r m-b">
	<img class="img-fluid" src="lib/images/avatar_default.png" alt="">
</span>
