<ul class="nav navbar-nav ">
    <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link " data-toggle="class:nav-off-screen,hide" data-target="#exCollapsingNavbar">
            <i class="fa fa-bars fa-lg"></i>
        </a>
    </li>
</ul>
<a href="javascript:void(0)" class="navbar-brand pull-none hidden-xs-down " data-toggle="fullscreen"> <img src="lib/images/logo_dark.png" class="img-fluid"></a>
<a href="javascript:void(0)" class="navbar-brand pull-none hidden-sm-up " data-toggle="fullscreen"> <img src="lib/images/logo_dark_sm.png" class="img-fluid"></a>