<section class="vbox">
    <header class="header header-md no-padder text-xs-center hidden-sm-down">
        <a href="javascript:void(0)" class="navbar-brand pull-none hidden-nav-xs" data-toggle="fullscreen">
            <img src="lib/images/logo_white.png" class="img-fluid">
        </a>
    </header>
    <section class="scrollable">
        <nav class="" role="navigation">
            <ul class="nav" data-ride="collapse">
                <li class="active nav-item">
                    <a href="#/" class="nav-link auto active">
                        <i class="fa fa-eye fa-fw "></i> Overview
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link auto">
                        <i class="fa fa-play-circle fa-fw "></i> Getting Started
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#/layouts/overview" class="auto nav-link">
                        <i class="fa fa-columns fa-fw "></i> Layouts
                        <span class="pull-right text-muted m-l-xs"> <i class="fa fa-angle-right text"></i> <i class="fa fa-angle-down text-active"></i> </span>
                    </a>
                    <ul class="nav dk">
                        <!--<li class="nav-item">
                            <a href="#/layouts/application" class="nav-link">
                                Application
                            </a>
                        </li>-->
                        <li class="nav-item">
                            <a href="#/layouts/dashboard" class="nav-link">
                                Dashboard Layout
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/layouts/form" class="nav-link">
                                Form Layout
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/layouts/login" class="nav-link">
                                Login Layout
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/layouts/masterDetail" class="nav-link">
                                Master Detail Layout
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/layouts/table" class="nav-link">
                                Table Layout
                            </a>
                        </li>
                        <!--<li class="nav-item">
                            <a href="#/layouts/mobile" class="nav-link">
                                Mobile
                            </a>
                        </li>-->
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="auto nav-link">
                        <i class="fa fa-cubes fa-fw "></i> UI Kit
                        <span class="pull-right text-muted m-l-xs"> <i class="fa fa-angle-right text"></i> <i class="fa fa-angle-down text-active"></i> </span>
                    </a>
                    <ul class="nav dk">
                        <li class="nav-item">
                            <a href="#/styles/avatars" class="nav-link">
                                Avatars
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/buttons" class="nav-link">
                                Buttons
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/cards" class="nav-link">
                                Cards
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/colors" class="nav-link">
                                Colors
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/dropdowns" class="nav-link">
                                Dropdowns
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/figure" class="nav-link">
                                Figure
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/forms" class="nav-link">
                                Form Elements
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/general" class="nav-link">
                                General Components
                            </a>
                        </li>
                         <li class="nav-item">
                            <a href="#/styles/grid" class="nav-link">
                                Grid
                            </a>
                        </li>
                         <li class="nav-item">
                            <a href="#/styles/icons" class="nav-link">
                                Icons
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/lists" class="nav-link">
                                Lists
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#/styles/modal" class="nav-link">
                                Modal
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/mega-menu" class="nav-link">
                                Mega Menu
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/menus" class="nav-link">
                                Menus
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/notifications" class="nav-link">
                                Notifications
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/tabs" class="nav-link">
                                Tabs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/tables" class="nav-link">
                                Tables
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#/styles/steps" class="nav-link">
                                Steps
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="auto nav-link">
                        <i class="fa fa-th fa-fw "></i> Components
                        <span class="pull-right text-muted m-l-xs"> <i class="fa fa-angle-right text"></i> <i class="fa fa-angle-down text-active"></i> </span>
                    </a>
                    <ul class="nav dk ">
                        <!--<li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Activity Feed</a>
                            <a href="#/components/headers" class="nav-link">Header</a>
                        </li>-->
                        <li class="nav-item">
                            <a href="#/components/activity-stream" class="nav-link">
                                Activity Stream
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#/components/appheader" class="nav-link">Application Bar</a>
                        </li>
                        <li class="nav-item">
                            <a href="#/components/appfooter" class="nav-link">Application Footers</a>
                        </li>
                        <li class="nav-item">
                            <a href="#/components/cards" class="nav-link">Cards</a>
                        </li>
                        <li class="nav-item">
                            <a href="#/components/composers" class="nav-link">Composers</a>
                        </li>
                        <li class="nav-item">
                            <a href="#/components/pageheader" class="nav-link">Page Headers</a>
                        </li>
                        <!--<li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Page Footers</a>
                        </li>-->
                        <li class="nav-item">
                            <a href="#/components/sidebar" class="nav-link">Sidebars</a>
                        </li>
                        <li class="nav-item">
                            <a href="#/components/steps" class="nav-link">Wizard</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/mmessenger/sparkui2/issues?q=is%3Aopen+is%3Aissue+label%3A%22Feature+Request%22" target="_blank" class="nav-link auto">
                        <i class="fa fa-bullhorn fa-fw "></i> Give Feedback
                    </a>
                </li>
                <!--<li class="nav-item">
                    <a href="javascript:void(0)"  class="auto nav-link">
                        <i class="fa fa-folder-open-o fa-fw "></i> Menu Levels
                        <span class="pull-right text-muted m-l-xs"> 
                            <i class="fa fa-angle-right text"></i> 
                            <i class="fa fa-angle-down text-active"></i> 
                        </span>
                    </a>
                    <ul class="nav dk ">
                        <li class="nav-item">
                            <a href="javascript:void(0)"  class="auto nav-link">
                                Level 1
                                <span class="pull-right text-muted m-l-xs"> 
                                    <i class="fa fa-angle-right text"></i> 
                                    <i class="fa fa-angle-down text-active"></i> 
                                </span>
                            </a>
                            <ul class="nav dk ">
                                <li class="nav-item">
                                    <a href="javascript:void(0)"  class="nav-link">Sub Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0)"  class="nav-link">Sub Menu</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Level 2</a>
                        </li>
                    </ul>
                </li>-->
            </ul>
        </nav>
        <!--<div class="text-muted padder m-t-sm m-b-sm hidden-nav-xs">Components</div>
        <div class="card card-dark dk p-a-1 m-a-1 2 text-sm"> 
            <a href="https://progressux.uservoice.com/" target="_blank" class="">
                <i class="fa fa-bullhorn fa-2x pull-left "></i>Have a feature request, suggestion or praise? Leave us a message!
            </a> 
        </div>-->
    </section>
    <!--<footer class="footer">
        <a href="javascript:void(0)" data-target="#exCollapsingNavbar" data-toggle="class:nav-xs" class="pull-right btn btn-sm btn-dark btn-icon"> <i class="fa fa-angle-left text"></i> <i class="fa fa-angle-right text-active"></i> </a>
    </footer>-->
</section>