<div class="row m-n bg-light">
	<div class="container text-md padder-v text-xs-center">
		<div class="col-md-3 m-t-sm m-b"><i class="fa fa-envelope m-r-xs"></i>Customer Support</div>
		<div class="col-md-3 m-t-sm m-b"><i class="fa fa-phone m-r-xs"></i> 1.800.112.5555</div>
		<div class="col-md-3 m-t-sm m-b h5">
			<a class="text-muted" href="javascript:void(0)"><i class="fa fa-twitter m-r "></i></a>
			<a class="text-muted" href="javascript:void(0)"><i class="fa fa-facebook-square m-r"></i></a>
			<a class="text-muted" href="javascript:void(0)"><i class="fa fa-pinterest m-r"></i></a>
			<a class="text-muted" href="javascript:void(0)"><i class="fa fa-instagram m-r"></i></a>
		</div>
		<div class="col-md-3 m-b-xs">
			<div class="input-group m-t-xs">
                <input type="text" class="form-control" placeholder="Get email updates">
                <span class="input-group-btn">
            		<a class="btn btn-default">Go</a>
          		</span>
            </div>
		</div>
	</div>
</div>
<div class="row m-n bg-info">
	<div class="container padder-v text-xs-center">
		<div class="col-md-3">
			<h5 class="font-bold text-white text-uppercase m-b">Products</h5>
			<ul class="list-inline">
				<li> <a href="javascript:void(0)" class="font-bold">Computer</a></li>
				<li> <a href="javascript:void(0)" class="font-bold">Phones</a></li>
				<li> <a href="javascript:void(0)" class="font-bold">Accessories</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h5 class="font-bold text-white text-uppercase m-b">Services</h5>
			<ul class="list-inline">
				<li> <a href="javascript:void(0)" class="font-bold">Consulting</a></li>
				<li> <a href="javascript:void(0)" class="font-bold">Training</a></li>
				<li> <a href="javascript:void(0)" class="font-bold">Support</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h5 class="font-bold text-white text-uppercase m-b">Get Help</h5>
			<ul class="list-inline">
				<li> <a href="javascript:void(0)" class="font-bold">Order Status</a></li>
				<li> <a href="javascript:void(0)" class="font-bold">Shipping and Delivery</a></li>
				<li> <a href="javascript:void(0)" class="font-bold">Payments</a></li>
				<li> <a href="javascript:void(0)" class="font-bold">Contact Us</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h5 class="font-bold text-white text-uppercase m-b">About Us</h5>
			<ul class="list-inline">
				<li> <a href="javascript:void(0)" class="font-bold">Company</a></li>
				<li> <a href="javascript:void(0)" class="font-bold">Success Stories</a></li>
				<li> <a href="javascript:void(0)" class="font-bold">Careers </a></li>
			</ul>
		</div>
	</div>
</div>
<div class="row m-n bg-info dk ">
	<div class="container padder-v">
		<div class="col-md-12 text-xs-center text-md-left">
			<div class="inline font-bold">ILOGO </div> 
			<div class="small inline"><a href="javascript:void(0)"> Terms </a> | <a href="javascript:void(0)">Privacy </a> | <a href="javascript:void(0)">License Agreements </a></div> 
		</div>
	</div>
</div>
