<div class="row m-n bg-black lter text-muted p-b-1 text-xs-center">
	<div class="container">
		<div class="col-xs-12 col-md-4 m-t">
			<div class="font-bold text-white text-uppercase m-b"><i class="fa fa-map-marker m-r-sm"></i>Locations</div>
			<ul class="list-inline">
				<li> <a href="javascript:void(0)" class="font-bold">Atlanta</a></li>
				<li> <a href="javascript:void(0)" class="font-bold">New York</a></li>
				<li> <a href="javascript:void(0)" class="font-bold">San Francisco </a></li>
				<li> <a href="javascript:void(0)" class="font-bold">Los Angeles</a></li>
			</ul>
		
		</div>
		<div class="col-xs-12 col-md-4 m-t">
			<ul class="list-inline text-xs-center">
				<div class="font-bold text-white text-uppercase m-b">Follow Us</div>
				<li class="inline h2 m-r"> <a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
				<li class="inline h2 m-r"> <a href="javascript:void(0)"><i class="fa fa-facebook-square"></i> </a></li>
				<li class="inline h2 m-r"> <a href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
				<li class="inline h2 m-r"> <a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
				
			</ul>
		</div>
		<div class="col-xs-12 col-md-4 m-t">
			<div class="font-bold text-white text-uppercase">Get Updates and Offers</div>
	        <input type="text" class="form-control m-t" placeholder="Email Address">
	        <button class="btn btn-primary w-full m-t">Subscribe</button>	
		</div>
	</div>
</div>
<div class="row m-n bg-black lt text-muted text-xs-center padder-v ">
	<div class="container">
		<div class="col-xs-12 col-md-6 text-md-left">
			<div class="small">&copy; 2016 ILOGO Inc. All rights reserved.</div>
		</div>
		<div class="col-xs-12 col-md-6 text-md-right">
			<div class="small"><a href="javascript:void(0)">Terms</a> | <a href="javascript:void(0)">Privacy</a> | <a href="javascript:void(0)">Security</a></div>
		</div>
	</div>
</div>