<section class="vbox">
    <header class="header header-md text-xs-center">
        <a href="javascript:void(0)" class="navbar-brand hidden-sm-down hidden-nav" data-toggle="fullscreen"> <img src="lib/images/logo_dark.png" class="img-fluid"></a>
        <a href="javascript:void(0)" class="navbar-brand pull-none hidden-sm-up visible-nav" data-toggle="fullscreen"> <img src="lib/images/logo_dark_sm.png" class="img-fluid"></a>
    </header>
    <section class="scrollable">
        <div class="clearfix p-a-1 nav-user hidden-xs-down">
            <div class="dropdown">
                <a href="javascript:void(0)" class="inline"> 
                    <span class="avatar img-circle pull-left m-r-1">
                        <img class="img-fluid" src="lib/images/avatar.jpg" alt="">
                    </span>
                    <span class="hidden-nav clear"> 
                        <span class="font-bold">John Smith</span> 
                        <span class="text-muted text-sm">jsmith@email.com</span> 
                    </span>
                </a>
            </div>
        </div>
        <div class="text-muted text-sm hidden-nav padder m-t-1 m-b-1">Header</div>
        <nav class="" role="navigation">
            <ul class="nav" data-ride="collapse">
                <li class="active nav-item">
                    <a href="javascript:void(0)" class="nav-link auto" >
                        <i class="fa fa-home fa-fw "></i> Home
                    </a>
                </li>
                <li class=" nav-item">
                    <a href="javascript:void(0)" class="nav-link auto" >
                        <i class="fa fa-users fa-fw "></i> Customers
                    </a>
                </li>
                <li class=" nav-item">
                    <a href="javascript:void(0)" class="nav-link auto" >
                        <i class="fa fa-file-text-o fa-fw "></i> Sales
                        <b class="label label-default pull-right hidden-nav">NEW</b>
                    </a>
                </li>
                <li class=" nav-item">
                    <a href="javascript:void(0)" class="nav-link auto" >
                        <i class="fa fa-bar-chart fa-fw "></i> Reports
                        <b class="label label-pill bg-danger pull-right hidden-nav">4</b>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link auto" >
                        <i class="fa fa-folder-open-o fa-fw "></i>
                        Menus
                        <span class="pull-right text-muted m-l-1"> 
                            <i class="fa fa-angle-right text"></i> 
                            <i class="fa fa-angle-down text-active"></i> 
                        </span>
                    </a>
                    <ul class="nav dk ">
                        <li class="nav-item">
                            <a href="javascript:void(0)"  class="auto nav-link">
                                Level 1
                                <span class="pull-right text-muted m-l-1"> 
                                    <i class="fa fa-angle-right text"></i> 
                                    <i class="fa fa-angle-down text-active"></i> 
                                </span>
                            </a>
                            <ul class="nav dk ">
                                <li class="nav-item">
                                    <a href="javascript:void(0)"  class="nav-link">Sub Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0)"  class="nav-link">Sub Menu</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">Level 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </section>
    <footer class="footer no-padder">
        <nav class="">
            <ul class="nav">
                <li class=" nav-item">
                    <a href="javascript:void(0)" class="nav-link auto" >
                        <i class="fa fa-power-off fa-fw "></i> Logout
                    </a>
                </li>
            </ul>
        </nav>
    </footer>
</section>