<div class="alert alert-success" role="alert">
    <i class="fa fa-check-circle fa-lg fa-fw"></i> <strong>Success!</strong> Your file has been uploaded.
</div>
<div class="alert alert-info" role="alert">
    <i class="fa fa-info-circle fa-lg fa-fw"></i> <strong>Info!</strong> You have 198 unread messages. 
</div>
<div class="alert alert-warning" role="alert">
    <i class="fa fa-warning fa-lg fa-fw"></i> <strong>Warning!</strong> Your monthly traffic is reaching limit. 
</div>
<div class="alert alert-danger" role="alert">
    <i class="fa fa-ban fa-lg fa-fw"></i> <strong>Error!</strong> The daily cronjob has failed. 
</div>