<div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
    	<span class="sr-only">Close</span>
    </button>
    <h4 class="alert-heading">Error!</h4>
    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
    <p>
        <a class="btn btn-danger-outline" href="javascript:void(0)"> Do this </a>
        <a class="btn" href="javascript:void(0)"> Cancel </a>
    </p>
</div>
<div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
    	<span class="sr-only">Close</span>
    </button>
    <h4 class="alert-heading">Success!</h4>
    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
    <p>
        <a class="btn btn-success-outline" href="javascript:void(0)"> Do this </a>
        <a class="btn" href="javascript:void(0)"> Cancel </a>
    </p>
</div>
<div class="alert alert-info alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
    	<span class="sr-only">Close</span>
    </button>
    <h4 class="alert-heading">Info!</h4>
    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
    <p>
        <a class="btn btn-info-outline" href="javascript:void(0)"> Do this </a>
        <a class="btn" href="javascript:void(0)"> Cancel </a>
    </p>
</div>
<div class="alert alert-warning alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
    	<span class="sr-only">Close</span>
    </button>
    <h4 class="alert-heading">Warning!</h4>
    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
    <p>
        <a class="btn btn-warning-outline" href="javascript:void(0)"> Do this </a>
        <a class="btn" href="javascript:void(0)"> Cancel </a>
    </p>
</div>
