<div class="alert alert-success alert-notice">
    <h4 class="alert-heading">Success! Some Header Goes Here</h4>
    <p> Duis mollis, est non commodo luctus, nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
</div>
<div class="alert alert-info alert-notice">
    <h4 class="alert-heading">Info! Some Header Goes Here</h4>
    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
</div>
<div class="alert alert-danger alert-notice">
    <h4 class="alert-heading">Danger! Some Header Goes Here</h4>
    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet.\ Cras mattis consectetur purus sit amet fermentum. </p>
</div>
<div class="alert alert-warning alert-notice">
    <h4 class="alert-heading">Warning! Some Header Goes Here</h4>
    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet. Cras mattis consectetur purus sit amet fermentum. </p>
</div>
