<div class="modal-backdrop fade in" style="position: relative; z-index: 999;">
    <div class="modal" style="display: block; position: relative; ">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger striped">
                    <h4 class="modal-title">Service Unavailable</h4>
                </div>
                <div class="modal-body">
                    <p>Sit nulla est ex deserunt exercitation anim occaecat. Nostrud ullamco deserunt aute id consequat veniam incididunt duis in sint irure nisi.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>