<div class="alert alert-success alert-system bg-success striped" role="alert">
    <i class="fa fa-wrench fa-lg fa-fw"></i> Scheduled Maintenance Notification: Sunday March 15, 8:00 AM–10:00 EST <a href="javascript:void(0)" class="alert-link">More Information</a>
</div>
<div class="alert alert-info alert-system bg-info striped" role="alert">
    <i class="fa fa-info-circle fa-lg fa-fw"></i> Spark UI 2.0 is Coming! <a href="javascript:void(0)" class="alert-link">More Information</a>
</div>
<div class="alert alert-warning alert-system bg-warning striped" role="alert">
    <i class="fa fa-warning fa-lg fa-fw"></i> You are in offline mode. <a href="javascript:void(0)" class="alert-link">More Information</a>
</div>
<div class="alert alert-danger alert-system bg-danger striped" role="alert">
    <i class="fa fa-ban fa-lg fa-fw"></i>Your browser is currently not supported. <a href="javascript:void(0)" class="alert-link">More Information</a>
</div>