<div class="btn-group open">
	<a href="javascript:void(0)" class="btn btn-default-outline btn-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="true"></a>
	<div class="dropdown-menu" style="position: relative; width: 100%; display: block;">
		<div class="dropdown-header b-b r-t">Basic Dropdown <i class="fa fa-cog fa-lg m-t-xxs icon-muted pull-right"></i></div>
	    <a href="javascript:void(0)" class="dropdown-item">Action</a>
	    <a href="javascript:void(0)" class="active dropdown-item">Another action</a>
	    <a href="javascript:void(0)" class="disabled dropdown-item">Something else here</a>
	    <div class="dropdown-divider"></div>
	    <a href="javascript:void(0)" class="dropdown-item">One more separated line</a>
	</div>
</div>