<div class="row">
	<div class="col-sm-4">
		<div class="btn-group open">
			<a href="javascript:void(0)" class="btn btn-default-outline btn-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="true"></a>
			<div class="dropdown-menu" style="position: relative; width: 100%; display: block;">
			    <a href="javascript:void(0)" class="dropdown-item"><i class="fa fa-columns icon-muted m-r-xs"></i> Action</a>
			    <a href="javascript:void(0)" class="active dropdown-item"><i class="fa fa-table icon-muted  m-r-xs"></i> Another action</a>
			    <a href="javascript:void(0)" class="dropdown-item"><i class="fa fa-th-large icon-muted  m-r-xs"></i> Something else here</a>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="btn-group open">
			<a href="javascript:void(0)" class="btn btn-default-outline btn-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="true"></a>
			<div class="dropdown-menu" style="position: relative; width: 100%; display: block;">
			    <a href="javascript:void(0)" class="dropdown-item">Action <i class="fa fa-columns icon-muted pull-right m-t-xs"></i></a>
			    <a href="javascript:void(0)" class="active dropdown-item">Another action <i class="fa fa-table icon-muted pull-right m-t-xs"></i></a>
			    <a href="javascript:void(0)" class="dropdown-item">Something else here <i class="fa fa-th-large icon-muted pull-right m-t-xs"></i></a>
			</div>
		</div>
	</div>
	<div class="col-sm-4"></div>
</div>