<div class="row">
    <div class="col-sm-4">
        <div class="btn-group open">
            <a href="javascript:void(0)" class="btn btn-icon" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
            <div class="dropdown-menu" style="position: relative; width: 100%; display: block;">
                <span class="arrow top pull-left"></span>
                <a href="javascript:void(0)" class="dropdown-item">Action</a>
                <a href="javascript:void(0)" class="active dropdown-item">Another action</a>
                <a href="javascript:void(0)" class="disabled dropdown-item">Something else here</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="btn-group open">
            <div class="text-xs-center">
                <a href="javascript:void(0)" class="btn btn-icon" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
            </div>
            <div class="dropdown-menu" style="position: relative; width: 100%; display: block;">
                <span class="arrow top"></span>
                <a href="javascript:void(0)" class="dropdown-item">Action</a>
                <a href="javascript:void(0)" class="active dropdown-item">Another action</a>
                <a href="javascript:void(0)" class="disabled dropdown-item">Something else here</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="btn-group open">
            <div class="text-xs-right">
                <a href="javascript:void(0)" class="btn btn-icon" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
            </div>
            <div class="dropdown-menu dropdown-menu-right" style="position: relative; width: 100%; display: block;">
                <span class="arrow top pull-right"></span>
                <a href="javascript:void(0)" class="dropdown-item">Action</a>
                <a href="javascript:void(0)" class="active dropdown-item">Another action</a>
                <a href="javascript:void(0)" class="disabled dropdown-item">Something else here</a>
            </div>
        </div>
    </div>
</div>
<div class="row m-t-1">
    <div class="col-sm-4">
        <div class="btn-group dropup open">
            <div class="dropdown-menu" style="position: relative; width: 100%; display: block;">
                <span class="arrow bottom pull-left"></span>
                <a href="javascript:void(0)" class="dropdown-item">Action</a>
                <a href="javascript:void(0)" class="active dropdown-item">Another action</a>
                <a href="javascript:void(0)" class="disabled dropdown-item">Something else here</a>
            </div>
            <a href="javascript:void(0)" class="btn btn-icon" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="btn-group dropup open">
            <div class="dropdown-menu" style="position: relative; width: 100%; display: block;">
                <span class="arrow bottom"></span>
                <a href="javascript:void(0)" class="dropdown-item">Action</a>
                <a href="javascript:void(0)" class="active dropdown-item">Another action</a>
                <a href="javascript:void(0)" class="disabled dropdown-item">Something else here</a>
            </div>
            <div class="text-xs-center">
                <a href="javascript:void(0)" class="btn btn-icon" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="btn-group dropup open">
            <div class="dropdown-menu dropdown-menu-right" style="position: relative; width: 100%; display: block;">
                <span class="arrow bottom pull-right"></span>
                <a href="javascript:void(0)" class="dropdown-item">Action</a>
                <a href="javascript:void(0)" class="active dropdown-item">Another action</a>
                <a href="javascript:void(0)" class="disabled dropdown-item">Something else here</a>
            </div>
            <div class="text-xs-right">
                <a href="javascript:void(0)" class="btn btn-icon" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-cog fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>