<div id="" class="h6 m-b-1 m-t-3">Submenu Up</div>
<div class="row m-t-3">
    <div class="col-md-4 m-t-3">
        <div class="btn-group open">
            <a href="javascript:void(0)" class="btn btn-default-outline btn-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu" style="position: relative; width: 100%; display: block;">
                <li class="dropdown-item dropdown-submenu active dropup">
                    <a href="javascript:void(0)">More Options </a>
                    <ul class="dropdown-menu" role="menu" style="display: block">
                        <li class="dropdown-item dropdown-submenu active">
                            <a href="javascript:void(0)">Task 1</a>
                            <div class="dropdown-menu" role="menu" >
                                <a href="javascript:void(0)" class="dropdown-item">Action</a>
                                <a href="javascript:void(0)" class="dropdown-item">Another action</a>
                                <a href="javascript:void(0)" class="dropdown-item">Something else here</a>
                            </div>
                        </li>
                        <li class="dropdown-item"><a href="javascript:void(0)">Task 2</a></li>
                        <li class="dropdown-item"><a href="javascript:void(0)">Task 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="row m-t-3">
    <div class="col-md-4">
        <div id="" class="h6 m-b-1">Submenu Right</div>
        <div class="btn-group open">
            <a href="javascript:void(0)" class="btn btn-default-outline btn-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu" style="position: relative; width: 100%; display: block;">
                <li class="dropdown-item dropdown-submenu active">
                    <a href="javascript:void(0)">More Options </a>
                    <ul class="dropdown-menu" role="menu" style="display: block">
                        <li class="dropdown-item dropdown-submenu active">
                            <a href="javascript:void(0)">Task 1</a>
                            <div class="dropdown-menu dropup" role="menu" >
                                <a href="javascript:void(0)" class="dropdown-item">Action</a>
                                <a href="javascript:void(0)" class="dropdown-item">Another action</a>
                                <a href="javascript:void(0)" class="dropdown-item">Something else here</a>
                            </div>
                        </li>
                        <li class="dropdown-item"><a href="javascript:void(0)">Task 2</a></li>
                        <li class="dropdown-item"><a href="javascript:void(0)">Task 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div id="" class="h6 m-b-1">Submenu Left</div>
        <div class="btn-group open">
            <a href="javascript:void(0)" class="btn btn-default-outline btn-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu" style="position: relative; width: 100%; display: block;">
                <li class="dropdown-item dropdown-submenu active pull-left">
                    <a href="javascript:void(0)">More Options </a>
                    <ul class="dropdown-menu" role="menu" style="display: block">
                        <li class="dropdown-item dropdown-submenu active pull-left">
                            <a href="javascript:void(0)">Task 1</a>
                            <div class="dropdown-menu" role="menu" >
                                <a href="javascript:void(0)" class="dropdown-item">Action</a>
                                <a href="javascript:void(0)" class="dropdown-item">Another action</a>
                                <a href="javascript:void(0)" class="dropdown-item">Something else here</a>
                            </div>
                        </li>
                        <li class="dropdown-item"><a href="javascript:void(0)">Task 2</a></li>
                        <li class="dropdown-item"><a href="javascript:void(0)">Task 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--
<div class="row">
    <div class="col-md-4">
        <div class="btn-group open">
            <a href="javascript:void(0)" class="btn btn-default-outline btn-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></a>
            <ul class="dropdown-menu" style="position: relative; width: 100%; display: block;">
                <li class="dropdown-item"><a href="javascript:void(0)" class="">Action</a></li>
                <li class="dropdown-item"><a href="javascript:void(0)" class="">Another action</a></li>
                <li class="dropdown-item"><a href="javascript:void(0)" class="">Something else here</a></li>
                <li class="dropdown-divider"></li>
                <li class="dropdown-item dropdown-submenu active">
                    <a href="javascript:void(0)">More Options </a>
                    <ul class="dropdown-menu" role="menu" style="display: block">
                        <li class="dropdown-item dropdown-submenu active">
                            <a href="javascript:void(0)">Task 1</a>
                            <div class="dropdown-menu dropup" role="menu"  style="display: block">
                                <a href="javascript:void(0)" class="dropdown-item">Action</a>
                                <a href="javascript:void(0)" class="dropdown-item">Another action</a>
                                <a href="javascript:void(0)" class="dropdown-item">Something else here</a>
                            </div>
                        </li>
                        <li class="dropdown-item"><a href="javascript:void(0)">Task 2</a></li>
                        <li class="dropdown-item"><a href="javascript:void(0)">Task 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <ul class="dropdown-menu" style="display: block; position: static; width: 100%; margin-top: 0; float: none;">
            <li class="dropdown-item"><a href="javascript:void(0)" class="">Action</a></li>
            <li class="dropdown-item"><a href="javascript:void(0)" class="">Another action</a></li>
            <li class="dropdown-item"><a href="javascript:void(0)" class="">Something else here</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item dropdown-submenu dropup">
                <a href="javascript:void(0)">More Options </a>
                <ul class="dropdown-menu " role="menu">
                    <li class="dropdown-item dropdown-submenu dropup">
                        <a href="javascript:void(0)">Task 1</a>
                        <div class="dropdown-menu" role="menu">
                            <a href="javascript:void(0)" class="dropdown-item">Action</a>
                            <a href="javascript:void(0)" class="dropdown-item">Another action</a>
                            <a href="javascript:void(0)" class="dropdown-item">Something else here</a>
                        </div>
                    </li>
                    <li class="dropdown-item"><a href="javascript:void(0)">Task 2</a></li>
                    <li class="dropdown-item"><a href="javascript:void(0)">Task 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="dropdown-menu" style="display: block; position: static; width: 100%; margin-top: 0; float: none;">
            <li class="dropdown-item"><a href="javascript:void(0)" class="">Action</a></li>
            <li class="dropdown-item"><a href="javascript:void(0)" class="">Another action</a></li>
            <li class="dropdown-item"><a href="javascript:void(0)" class="">Something else here</a></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item dropdown-submenu pull-left">
                <a href="javascript:void(0)">More Options </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-item dropdown-submenu pull-left">
                        <a href="javascript:void(0)">Task 1</a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-item"><a href="javascript:void(0)" class="">Action</a></li>
                            <li class="dropdown-item"><a href="javascript:void(0)" class="">Another action</a></li>
                            <li class="dropdown-item"><a href="javascript:void(0)" class="">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-item"><a href="javascript:void(0)">Task 2</a></li>
                    <li class="dropdown-item"><a href="javascript:void(0)">Task 3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
-->