<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Project</th>
                <th>Progress</th>
                <th>Due Date</th>
                <th>Assigned To</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Dream successful plan project</th>
                <td><progress class="progress progress-warning" value="55" max="100">100%</progress></td>
                <td>Mar 15, 2016</td>
                <td>
                    <span class="avatar avatar-sm img-circle">
                        <img class="img-fluid" src="lib/images/avatar_default.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="John Smith" tooltip>
                    </span>
                    <span class="avatar avatar-sm img-circle">
                        <img class="img-fluid" src="lib/images/avatar_default.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="Ken William" tooltip>
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row">Open strategy project</th>
                <td><progress class="progress progress-danger" value="30" max="100">100%</progress></td>
                <td>Dec 21, 2016</td>
                <td>
                    <span class="avatar avatar-sm img-circle">
                        <img class="img-fluid" src="lib/images/avatar_default.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="Eric Johnson" tooltip>
                    </span>
                </td>
            </tr>
            <tr>
                <th scope="row">Lunar probe project</th>
                <td><progress class="progress progress-success" value="85" max="100">100%</progress></td>
                <td>Mar 15, 2016</td>
                <td>
                    <span class="avatar avatar-sm img-circle">
                        <img class="img-fluid" src="lib/images/avatar_default.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="Pat Patel" tooltip>
                    </span>
                    <span class="avatar avatar-sm img-circle">
                        <img class="img-fluid" src="lib/images/avatar_default.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="Amada Jackson" tooltip>
                    </span>
                    <span class="avatar avatar-sm img-circle">
                        <img class="img-fluid" src="lib/images/avatar_default.jpg" alt="user" data-toggle="tooltip" data-placement="top" title="James Wilson" tooltip>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>