<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Classes</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-active">
                <td><code>.table-active</code></td>
                <td>Applies the hover color to a particular row or cell</td>
            </tr>
            <tr class="table-info">
                <td class="table-info"><code>.table-info</code></td>
                <td>Indicates a neutral informative change or action</td>
            </tr>
            <tr class="table-success">
                <td class="table-success"><code>.table-success</code></td>
                <td>Indicates a successful or positive action</td>
            </tr>
            <tr class="table-warning">
                <td class="table-warning"><code>.table-warning</code></td>
                <td>Indicates a warning that might need attention</td>
            </tr>
            <tr class="table-danger">
                <td class="table-danger"><code>.table-danger</code></td>
                <td>Indicates a dangerous or potentially negative action</td>
            </tr>
        </tbody>
    </table>
</div>