<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Tracking</th>
                <th>Payment</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">2569</th>
                <td><a href="javascript:void(0)">Z12558967447894</a></td>
                <td><i class="fa fa-cc-visa"></i> Visa</td>
                <td>$256.10</td>
            </tr>
            <tr>
                <th scope="row">8852</th>
                <td><a href="javascript:void(0)">Z12558967447412</a></td>
                <td><i class="fa fa-cc-mastercard"></i> Mastercard</td>
                <td>$486.46</td>
            </tr>
            <tr>
                <th scope="row">7896</th>
                <td><a href="javascript:void(0)">Z17458967447474</a></td>
                <td><i class="fa fa-cc-amex"></i> Amex</td>
                <td>$1,723.85</td>
            </tr>
            <tr>
                <th scope="row">7896</th>
                <td><a href="javascript:void(0)">Z17458964569436</a></td>
                <td><i class="fa fa-cc-paypal"></i> Pay Pal</td>
                <td>$2,020.50</td>
            </tr>
        </tbody>
    </table>
<div>