<form>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label text-sm-right">Default</label>
        <div class="col-sm-10">
            <div class="form-group">
                <div class="checkbox">
                    <label class="ui-check">
                        <input type="checkbox" value="">
                        <i class="dark-white"></i> one
                    </label>
                </div>
                <div class="checkbox">
                    <label class="ui-check">
                        <input type="checkbox" checked="" value="">
                        <i class="dark-white"></i> two checked
                    </label>
                </div>
                <div class="checkbox disabled">
                    <label class="ui-check">
                        <input type="checkbox" checked="" disabled="" value="">
                        <i class="dark-white"></i> three checked and disabled
                    </label>
                </div>
                <div class="checkbox disabled">
                    <label class="ui-check">
                        <input type="checkbox" disabled="" value="">
                        <i class="dark-white"></i> four disabled
                    </label>
                </div>


                <div class="checkbox has-success">
                    <label>
                        <input type="checkbox" id="checkboxSuccess" value="option1"> Checkbox with success
                    </label>
                </div>
                <div class="checkbox has-warning">
                    <label>
                        <input type="checkbox" id="checkboxWarning" value="option1"> Checkbox with warning
                    </label>
                </div>
                <div class="checkbox has-danger">
                    <label>
                        <input type="checkbox" id="checkboxDanger" value="option1"> Checkbox with danger
                    </label>
                </div>

            </div>


            <div class="form-group">
                <div class="radio">
                    <label class="ui-check">
                        <input type="radio" name="a" value="option1">
                        <i class="dark-white"></i> one
                    </label>
                </div>
                <div class="radio">
                    <label class="ui-check">
                        <input type="radio" name="a" value="option2" checked="">
                        <i class="dark-white"></i> two checked
                    </label>
                </div>
                <div class="radio disabled">
                    <label class="ui-check">
                        <input type="radio" value="option2" checked="" disabled="">
                        <i class="dark-white"></i> three checked and disabled
                    </label>
                </div>
                <div class="radio disabled">
                    <label class="ui-check">
                        <input type="radio" name="a" disabled="">
                        <i class="dark-white"></i> four disabled
                    </label>
                </div>
                <div class="radio">
                    <label class="ui-check ui-check-md">
                        <input type="radio" name="a">
                        <i class="dark-white"></i> Medium size radio
                    </label>
                </div>
                <div class="radio">
                    <label class="ui-check ui-check-lg">
                        <input type="radio" name="a">
                        <i class="dark-white"></i> Large size radio
                    </label>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 form-control-label text-sm-right">Inline</label>
        <div class="col-sm-10">
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
            </label>
            <br>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
            </label>
            <label class="radio-inline">
                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
            </label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 form-control-label text-sm-right">Custom Checkbox</label>
        <div class="col-sm-10">
            <div class="c-inputs-stacked">
              <label class="c-input c-checkbox">
                <input id="checkboxStacked1" name="checkbox-stacked" type="checkbox">
                <span class="c-indicator"></span>
                Option One
              </label>
              <label class="c-input c-checkbox">
                <input id="checkboxStacked2" name="checkbox-stacked" type="checkbox" checked>
                <span class="c-indicator"></span>
                Option Two
              </label>
              <label class="c-input c-checkbox disabled">
                <input id="checkboxStacked3" name="checkbox-stacked" type="checkbox" checked disabled>
                <span class="c-indicator"></span>
                Option Three
              </label>
              <label class="c-input c-checkbox disabled">
                <input id="checkboxStacked4" name="checkbox-stacked" type="checkbox" disabled>
                <span class="c-indicator"></span>
                Option Four
              </label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 form-control-label text-sm-right">Custom Radios</label>
        <div class="col-sm-10">
            <div class="c-inputs-stacked">
              <label class="c-input c-radio">
                <input id="radioStacked1" name="radio-stacked" type="radio">
                <span class="c-indicator"></span>
                Option One
              </label>
              <label class="c-input c-radio">
                <input id="radioStacked2" name="radio-stacked" type="radio" checked>
                <span class="c-indicator"></span>
                Option Two
              </label>
              <label class="c-input c-radio disabled">
                <input id="radioStacked3" name="radio-stacked2" type="radio" checked disabled>
                <span class="c-indicator"></span>
                Option Three
              </label>
              <label class="c-input c-radio disabled">
                <input id="radioStacked4" name="radio-stacked2" type="radio" disabled>
                <span class="c-indicator"></span>
                Option Four
              </label>
            </div>
        </div>
    </div>
</form>
