<nav class="nav-sidebar bg-light" role="navigation">
    <ul class="nav" data-ride="collapse">
        <li class="active nav-item">
            <a href="javascript:void(0)" class="nav-link auto active">Active</a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link auto ">Item</a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link auto disabled">Disabled</a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="auto nav-link">More
                <span class="pull-right text-muted m-l-xs"> 
                    <i class="fa fa-angle-right text"></i> 
                    <i class="fa fa-angle-down text-active"></i> 
                </span>
            </a>
            <ul class="nav nav-subnav dk ">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Item</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Another Item</a>
                </li>
                <li class="nav-divider line lt"></li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Separated Item</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<nav class="nav-sidebar bg-inverse m-t" role="navigation">
    <ul class="nav" data-ride="collapse">
        <li class="active nav-item">
            <a href="javascript:void(0)" class="nav-link auto active">Active</a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link auto ">Item</a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link auto disabled">Disabled</a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="auto nav-link">More
                <span class="pull-right text-muted m-l-xs"> 
                    <i class="fa fa-angle-right text"></i> 
                    <i class="fa fa-angle-down text-active"></i> 
                </span>
            </a>
            <ul class="nav nav-subnav dk ">
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Item</a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Another Item</a>
                </li>
                <li class="nav-divider line lt"></li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">Separated Item</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
