<header class="header p-a-0">
    <nav class="navbar navbar-header bg-info no-radius p-a-0">
        <ul class="nav navbar-nav pull-xs-left">
            <li class="nav-item hidden-md-up">
                <a href="javascript:void(0)" class="nav-link"><i class="fa fa-search"></i></a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-xs-right hidden-md-up">
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link navbar-toggler" data-toggle="collapse" data-target="#appNavCart">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
        <div class="">
            <a href="javascript:void(0)" class="navbar-brand hidden-sm-down w-64 m-x-1">ILOGO</a>
            <a href="javascript:void(0)" class="navbar-brand pull-sm-none hidden-md-up w-64 m-x-1">ILOGO</a>
        </div>
        <ul id="appNavCart" class="nav navbar-nav navbar-toggleable-md pull-md-right collapse">
            <li class="nav-item pos-stc">
                <a href="javascript:void(0)" class="nav-link">Shop Online</a>
            </li>
            <li class="nav-item pos-stc">
                <a href="javascript:void(0)" class="nav-link">Events</a>
            </li>
            <li class="nav-item pos-stc hidden-md-up dropdown">


                <a href="javascript:void(0)" id="my_dropdown" class="nav-link" data-toggle="dropdown">
                    <i class="fa fa-shopping-basket"></i> 7 items in cart
                </a>

                <div class="dropdown-menu w-full bg-light">
                    <div class="row m-n p-t-1 font-bold text-lg b-n">
                        <div class="col-xs-6">
                            Cart Total
                        </div>
                        <div class="col-xs-6 text-xs-right">
                            $601.88
                        </div>
                    </div>
                    <div class="row m-n p-t-1 p-b-1 font-bold text-lg b-n">
                        <div class="col-xs-12">
                            <button class="btn btn-info w-full btn-sm">Go to Cart</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item pos-stc hidden-sm-down">
                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search"></i></a>
                <div class="dropdown-menu w-full wrapper-xs">
                    <div class="input-group">
                        <input type="text" class="form-control w-full" placeholder="Search"> <span class="input-group-btn"> <button type="submit" class="btn btn-info btn-icon"><i class="fa fa-search"></i></button> </span> </div>
                </div>
            </li>
            <li class="nav-item dropdown hidden-sm-down">
                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-shopping-basket"></i> 7 items in cart
                </a>
                <section class="dropdown-menu dropdown-menu-right aside-xl p-a-0 bg-white">
                    <div class="card m-a-0">
                        <div class="card-header bg-white">
                            <a href="javascript:void(0)" data-toggle="class:show">View All (7)</a>
                            <button class="btn btn-info btn-sm pull-right">Check Out</button>
                            <div class="clearfix"></div>

                        </div>
                        <div class="list-group list-group-flush list-group-alt">
                            <div href="javascript:void(0)" class="list-group-item row m-n no-padder">
                                <div class="col-xs-2 padder-v">
                                    <span class="avatar avatar-sm img-circle pull-left m-r">
                                        <img class="img-fluid" src="lib/images/s7.png" alt="">
                                    </span>
                                </div>
                                <div class="col-xs-5 padder-v p-r-0 p-l-0">
                                    <a href="javascript:void(0)">Ping G Driver</a>
                                    <br>
                                    <small class="text-muted">Quantity: 1</small>
                                </div>
                                <div class="col-xs-5 padder-v text-xs-right">
                                    $399.99
                                    <i class="m-l fa fa-close text-danger"></i>
                                </div>
                            </div>
                        </div>
                        <div class="list-group list-group-flush list-group-alt">
                            <div href="javascript:void(0)" class="list-group-item row m-n no-padder">
                                <div class="col-xs-2 padder-v">
                                    <span class="avatar avatar-sm img-circle pull-left m-r">
                                        <img class="img-fluid" src="lib/images/s8.png" alt="">
                                    </span>
                                </div>
                                <div class="col-xs-5 padder-v p-r-0 p-l-0">
                                    <a href="javascript:void(0)">Wilson Stuff Duo Overrun Golf Balls</a>
                                    <br>
                                    <small class="text-muted">Quantity: 4</small>
                                </div>
                                <div class="col-xs-5 padder-v text-xs-right">
                                    $51.92
                                    <i class="m-l fa fa-close text-danger"></i>
                                </div>
                            </div>
                        </div>
                        <div class="list-group list-group-flush list-group-alt">
                            <div href="javascript:void(0)" class="list-group-item row m-n no-padder">
                                <div class="col-xs-2 padder-v">
                                    <span class="avatar avatar-sm img-circle pull-left m-r">
                                        <img class="img-fluid" src="lib/images/s6.png" alt="">
                                    </span>
                                </div>
                                <div class="col-xs-5 padder-v p-r-0 p-l-0">
                                    <a href="javascript:void(0)">Callaway Hyper-Lite 5 Stand Bag</a>
                                    <br>
                                    <small class="text-muted">Quantity: 1</small>
                                </div>
                                <div class="col-xs-5 padder-v text-xs-right">
                                    $149.97
                                    <i class="m-l fa fa-close text-danger"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-lg">
                            <strong>Cart Total
                                <span class="pull-right">$601.88</span>
                            </strong>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
    </nav>
</header>
<script type="text/javascript">
    +
    $(function () {
        $('#appNavCart').on('shown.bs.collapse', function (e) {
            $('#my_dropdown').dropdown('toggle', 'open').show.bs.dropdown();
        });
    })
</script>