<header class="header p-a-0">
    <nav class="navbar navbar-header bg-dark dker no-radius p-a-0">
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item pos-stc">
                <a href="javascript:void(0)" class="nav-link"><i class="fa fa-search"></i></a>
            </li>
            <!--
            <li class="nav-item dropdown hidden-xs-down">
                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown" aria-expanded="false"><span class="flag-icon flag-icon-us"></span> English (US)</a>
                 <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item"><a href="javascript:void(0)"><span class="flag-icon flag-icon-us"></span> English (US) <i class="fa fa-check pull-right m-t-xs"></i></a></li>
                    <li class="dropdown-item"><a href="javascript:void(0)"><span class="flag-icon flag-icon-gb"></span> English (UK)</a></li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item"><a href="javascript:void(0)"><span class="flag-icon flag-icon-cn"></span> Chinese</a></li>
                    <li class="dropdown-item"><a href="javascript:void(0)"><span class="flag-icon flag-icon-fr"></span> French</a></li>
                    <li class="dropdown-item"><a href="javascript:void(0)"><span class="flag-icon flag-icon-gm"></span> German </a></li>
                </ul>
            </li>-->
            <li class="nav-item dropdown hidden-xs-down">
                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
                    <span class="dropdown-label">
                       US
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-select">
                    <li class="dropdown-item active">
                        <a href="javascript:void(0)" class="active">
                            <input type="radio" name="d-s-r" checked=""><span class="flag-icon flag-icon-us"></span> US
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:void(0)">
                            <input type="radio" name="d-s-r"><span class="flag-icon flag-icon-gb"></span> GB
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="dropdown-item">
                        <a href="javascript:void(0)">
                            <input type="radio" name="d-s-r"><span class="flag-icon flag-icon-cn"></span> CN
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:void(0)">
                            <input type="radio" name="d-s-r"><span class="flag-icon flag-icon-fr"></span> FR
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:void(0)">
                            <input type="radio" name="d-s-r"><span class="flag-icon flag-icon-de"></span> DE
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-xs-left hidden-md-up">
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link navbar-toggler" data-toggle="collapse" data-target="#exCollapsingNavbar3">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
        <div class="">
            <a href="javascript:void(0)" class="navbar-brand hidden-sm-down w-64 m-x-1">ILOGO</a>
            <a href="javascript:void(0)" class="navbar-brand pull-sm-none hidden-md-up w-64 m-x-1">ILOGO</a>
        </div>
        <ul id="exCollapsingNavbar3" class="nav navbar-nav navbar-toggleable-sm collapse" role="tablist">
            <li class="nav-item active" data-toggle="tab" href="#products" role="tab" aria-expanded="true">
                <a href="javascript:void(0)" class="nav-link">Products</a>
            </li>
            <li class="nav-item" data-toggle="tab" href="#services" role="tab">
                <a href="javascript:void(0)" class="nav-link ">Services</a>
            </li>
            <li class="nav-item" data-toggle="tab" href="#pricing" role="tab">
                <a href="javascript:void(0)" class="nav-link">Pricing</a>
            </li>
            <!--
            <li class="nav-item dropdown hidden-sm-up">
                <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <span class="nav-text">Languages</span>
                    <span class="flag-icon flag-icon-us pull-xs-right m-t"></span>
                </a>
                <ul class="dropdown-menu bg-light dk ">
                    <li class="dropdown-item"><a href="javascript:void(0)"><span class="flag-icon flag-icon-us"></span> English (US) <i class="fa fa-check pull-right m-t-xs"></i></a></li>
                    <li class="dropdown-item"><a href="javascript:void(0)"><span class="flag-icon flag-icon-gb"></span> English (UK)</a></li>
                    <li class="dropdown-divider bg-dark dker"></li>
                    <li class="dropdown-item"><a href="javascript:void(0)"><span class="flag-icon flag-icon-cn"></span> Chinese</a></li>
                    <li class="dropdown-item"><a href="javascript:void(0)"><span class="flag-icon flag-icon-fr"></span> French</a></li>
                    <li class="dropdown-item"><a href="javascript:void(0)"><span class="flag-icon flag-icon-gm"></span> German </a></li>
                </ul>
            </li>
            -->
            <li class="nav-item dropdown hidden-sm-up">
                <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
                    <span class="nav-text">Languages</span>
                    <span class="dropdown-label pull-xs-right">
                       US
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-select">
                    <li class="dropdown-item active">
                        <a href="javascript:void(0)" class="active">
                            <input type="radio" name="d-s-r" checked=""><span class="flag-icon flag-icon-us"></span> US
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:void(0)">
                            <input type="radio" name="d-s-r"><span class="flag-icon flag-icon-gb"></span> GB
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:void(0)">
                            <input type="radio" name="d-s-r"><span class="flag-icon flag-icon-cn"></span> CN
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:void(0)">
                            <input type="radio" name="d-s-r"><span class="flag-icon flag-icon-fr"></span> FR
                        </a>
                    </li>
                    <li class="dropdown-item">
                        <a href="javascript:void(0)">
                            <input type="radio" name="d-s-r"><span class="flag-icon flag-icon-de"></span> DE
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>

<!-- Tab panes -->
<div class="tab-content m-b-lg">
    <div class="tab-pane active" id="products" role="tabpanel">
        <div class="row m-n padder-v bg-dark dk">
            <div class="col-sm-12 ">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active bg-dark dker" data-toggle="tab" href="#computers" role="tab"><i class="fa fa-desktop "></i><span class="hidden-sm-down m-l-sm">Computers</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#phone" role="tab"><i class="fa fa-mobile-phone"></i><span class="hidden-sm-down m-l-sm">Phones</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#peripherals" role="tab"><i class="fa fa-print"></i><span class="hidden-sm-down m-l-sm">Peripherals</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#accessories" role="tab"><i class="fa fa-headphones "></i><span class="hidden-sm-down m-l-sm">Accessories</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="services" role="tabpanel">
        <div class="row padder-v bg-dark dk m-n">
            <div class="col-sm-12">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active bg-dark dker" data-toggle="tab" href="#computers" role="tab"><i class="fa fa-black-tie"></i><span class="hidden-sm-down m-l-sm">Consulting Services</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#phone" role="tab"><i class="fa fa-leanpub"></i><span class="hidden-sm-down m-l-sm">Training</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#peripherals" role="tab"><i class="fa fa-life-ring"></i><span class="hidden-sm-down m-l-sm">Supports</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#accessories" role="tab"><i class="fa fa-database"></i><span class="hidden-sm-down m-l-sm">Managed Database</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="pricing" role="tabpanel">
        <div class="row m-n padder-v bg-dark dk">
            <div class="col-m-12 col-md-4 padder-v">
                <div class="card card-default bg-dark b-dark m-n">
                    <div class="card-block text-xs-center">
                        <h1 class="m-b">$50 <small>/ mo</small></h1>
                        <h4 class="text-uppercase">Standard</h4>
                        <hr class="b-dark">
                        <p><strong>10GB</strong> of Lorem ipsum</p>
                        <p><strong>200MB</strong> Max File Size</p>
                        <p><strong>2GHZ</strong> CPU</p>
                        <p><strong>256MB</strong> Memory</p>
                        <p><strong>2 GB</strong> Storage</p>
                        <button class="btn btn-dark dker">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="col-m-12 col-md-4">
                <div class="card card-default bg-dark dker b-dark m-n padder-v">
                    <div class="card-block text-xs-center">
                        <h1 class="m-b">$70 <small>/ mo</small></h1>
                        <h4 class="text-uppercase">Premium</h4>
                        <hr class="b-dark">
                        <p><strong>10GB</strong> of Lorem ipsum</p>
                        <p><strong>200MB</strong> Max File Size</p>
                        <p><strong>2GHZ</strong> CPU</p>
                        <p><strong>256MB</strong> Memory</p>
                        <p><strong>2 GB</strong> Storage</p>
                        <button class="btn btn-dark">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="col-m-12 col-md-4 padder-v">
                <div class="card card-default bg-dark b-dark m-n">
                    <div class="card-block text-xs-center">
                        <h1 class="m-b">$90 <small>/ mo</small></h1>
                        <h4 class="text-uppercase">Professional</h4>
                        <hr class="b-dark">
                        <p><strong>10GB</strong> of Lorem ipsum</p>
                        <p><strong>200MB</strong> Max File Size</p>
                        <p><strong>2GHZ</strong> CPU</p>
                        <p><strong>256MB</strong> Memory</p>
                        <p><strong>2 GB</strong> Storage</p>
                        <button class="btn btn-dark dker">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        // Keep dropdowm open after clicked
        $('#appNavMega .dropdown .dropdown-menu').on('click', function (e) {
            e.stopPropagation();
        });

    });
</script>